{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account Inactive" %}{% endblock %}
{% block page_title %}
    <h1>{% trans "Account Inactive" %}</h1>
{% endblock %}

{% block content %}
    <p>{% trans "This account is inactive." %}</p>
{% endblock %}
