{% extends "account/base.html" %}

{% load account %}
{% load i18n %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}
{% block page_title %}
    <h1>{% trans "Confirm E-mail Address" %}</h1>
{% endblock %}

{% block content %}
    {% user_display email_address.user as user_display %}
    <p>{% blocktrans with email_address.email as email %}You have confirmed that <a href="mailto:{{email}}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>
{% endblock %}
