{% extends "events/base.html" %}

{% load i18n %}
{% load account %}
{% load url from future %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block page_title %}
    <h1>{% trans "Sign In" %}</h1>
{% endblock %}

{% block content %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% load crispy_forms_tags %}
<form method="POST" class="form-signin" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form|crispy }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <p><a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a></p>
    <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
</form>
{% endblock %}
