{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block page_title %}
    <h1>{% trans "Change Password" %}</h1>
{% endblock %}

{% block content %}
<p>{% trans 'Your password is now changed.' %}</p>
{% endblock %}
