{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<h1>{% trans "Set Password" %}</h1>
{% load crispy_forms_tags %}
<form method="POST" action="{% url 'account_set_password' %}" class="password_set">
    {% csrf_token %}
    {{ form|crispy }}
    <input class="btn btn-primary" type="submit" name="action" value="{% trans "Set Password" %}"/>
</form>
{% endblock %}