{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block page_title %}
    <h1>{% trans "Change Password" %}</h1>
{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
<form method="POST" action="{% url 'account_change_password' %}" class="password_change">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-primary" type="submit" name="action">{% trans "Change Password" %}</button>
</form>
{% endblock %}
