{% extends "events/base.html" %}

{% url from future %}
{% load i18n %}

{% block head_title %}{% trans 'access restricted'|title %}{% endblock %}
{% block page_title %}
    <h1>{% trans "access restricted"|capfirst %}</h1>
{% endblock %}

{% block content %}
    <p>{% trans "this part of the site is restricted to authorized people only"|capfirst %}</p>
    <p><a href="{% url 'events:home_page' %}" class="btn btn-primary" role="button">{% trans "go back to home page"|capfirst %}</a></p>
{% endblock %}
