{% extends "events/base_form.html" %}

{% load crispy_forms_tags %}
{% load i18n %}
{% load staticfiles %}

{% block head_title %}
    {% if event %}
        {% trans "Additional data request for event"|capfirst %} "{{ event }}"
    {% else %}
        {% trans "Additional data provision for event"|capfirst %} "{{ object.event }}"
    {% endif %}
{% endblock %}

{% block page_title %}
    {% if event %}
        <h1>{% trans "Additional data request for event"|capfirst %} "{{ event }}"</h1>
    {% else %}
        <h1>{% trans "Provide the following document :"|capfirst %} <small>{{ object.desired_information }}</small></h1>
    {% endif %}
{% endblock %}
