{% load i18n %}

<div class="panel-heading">
    <h3 class="panel-title">
        <span class="fa fa-info-circle"></span> {{ object|capfirst }}
    </h3>
</div>
<ul class="list-group">
    {% for data in object.additionaldata_set.all %}
        <li class="list-group-item">
            {{ data.desired_information }} : 
            {% if data.attached_document %}
                <a href="{{ data.attached_document.url }}" target="_blank">{{ data.attached_document }}</a>
            {% else %}
                {% trans 'No response yet' %}
            {% endif %}
        </li>
    {% endfor %}
</ul>
