{% extends "events/base.html" %}

{% load crispy_forms_tags %}
{% load i18n %}
{% load url from future %}

{% block head_title %}{% endblock %}

{% block content %}

    {% if form.errors %}
        <div class="alert alert-danger"><strong>{% trans 'attention : '|capfirst %}</strong>{% trans 'some fields are mandatory and must be field in'|capfirst %}
        </div>
    {% endif %}

    {% block form %}
        {{ form.media }}
        {% crispy form %}
    {% endblock %}

{% endblock %}
