{% load staticfiles %}
{% load url from future %}
{% load i18n %}

<!DOCTYPE html>
<html>
    <head>
        <title>{{ DEPARTMENT_NUMBER }} {% block head_title %}{% endblock %}</title>
        {% block extra_head %}
        {% endblock %}
        <meta charset='utf-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <!-- Bootstrap -->
        <link href='{% static 'events/css/bootstrap.min.css' %}' rel='stylesheet' type='text/css'>
        <link href='{% static 'events/css/font-awesome.min.css' %}' rel='stylesheet' type='text/css'>
        <link href='{% static 'events/css/default.css' %}' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
        <link href='//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.5.0/bootstrap-table.min.css' rel='stylesheet' type='text/css'>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'></script>
        <script src='https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js'></script>
        <![endif]-->

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src='{% static 'events/js/bootstrap.min.js' %}'></script>
    </head>
    <body style="background-color: {{ DEPARTMENT_BKG_COLOR }};">
        <nav class='navbar navbar-inverse navbar-fixed-top' role='navigation'>
            <div class='container'>
                <div class='navbar-header'>
                    <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                        <span class='sr-only'>Toggle navigation</span>
                        <span class='icon-bar'></span>
                        <span class='icon-bar'></span>
                        <span class='icon-bar'></span>
                    </button>
                    <a class='navbar-brand' href='{% url 'events:home_page' %}'>
                        <img alt='{% trans 'sportive event and sustainable development'|capfirst %}' src='{% static 'events/img/manifloire_brand.png' %}'>
                    </a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class='collapse navbar-collapse'>
                    <ul class='nav navbar-nav navbar-right'>
                        {% if user.is_authenticated %}
                            {% if user.promoter %}
                                <li><a href='{% url 'profile' %}'><i class="fa fa-user"></i> {{ user.username }} ({% trans 'promoter'|capfirst %} - {{ DEPARTMENT_NUMBER }})</a></li>
                                <li><a href='{% url 'events:dashboard' %}'><i class="fa fa-tasks"></i> {% trans 'dashboard'|capfirst %}</a></li>
                            {% elif user.instructor %}
                                <li><a href='{% url 'profile' %}'><i class="fa fa-user"></i> {{ user.username }} ({% trans 'instructor'|capfirst %} - {{ DEPARTMENT_NUMBER }})</a></li>
                                <li><a href='{% url 'authorizations:dashboard' %}'><i class="fa fa-tasks"></i> {% trans 'dashboard'|capfirst %}</a></li>
                            {% elif user.agent %}
                                {% if user.agent.edsragent %}
                                    <li><a href=''><i class="fa fa-user"></i> {{ user.username }} ({{ user.agent.edsragent.road_safety_squadron }} - {{ DEPARTMENT_NUMBER }})</a></li>
                                {% elif user.agent.brigadeagent %}
                                    <li><a href=''><i class="fa fa-user"></i> {{ user.username }} ({{ user.agent.brigadeagent.brigade }} - {{ DEPARTMENT_NUMBER }})</a></li>
                                {% elif user.agent.ggdagent %}
                                    <li><a href=''><i class="fa fa-user"></i> {{ user.username }} ({{ user.agent.ggdagent.ggd }} - {{ DEPARTMENT_NUMBER }})</a></li>
                                {% elif user.agent.sdisagent %}
                                    <li><a href=''><i class="fa fa-user"></i> {{ user.username }} ({{ user.agent.sdisagent.fire_and_rescue_service }} - {{ DEPARTMENT_NUMBER }})</a></li>
                                {% elif user.agent.codisagent %}
                                    <li><a href=''><i class="fa fa-user"></i> {{ user.username }} ({{ user.agent.codisagent.departmental_fire_op_center }} - {{ DEPARTMENT_NUMBER }})</a></li>
                                {% elif user.agent.cisagent %}
                                    <li><a href=''><i class="fa fa-user"></i> {{ user.username }} ({{ user.agent.cisagent.fire_service }} - {{ DEPARTMENT_NUMBER }})</a></li>
                                {% elif user.agent.ddspagent %}
                                    <li><a href=''><i class="fa fa-user"></i> {{ user.username }} ({{ user.agent.ddspagent.public_safety_direction }} - {{ DEPARTMENT_NUMBER }})</a></li>
                                {% elif user.agent.federationagent %}
                                    <li><a href=''><i class="fa fa-user"></i> {{ user.username }} ({{ user.agent.federationagent.federation }} - {{ DEPARTMENT_NUMBER }})</a></li>
                                {% elif user.agent.serviceagent %}
                                    <li><a href=''><i class="fa fa-user"></i> {{ user.username }} ({{ user.agent.serviceagent.service }} - {{ DEPARTMENT_NUMBER }})</a></li>
                                {% elif user.agent.townhallagent %}
                                    <li><a href=''><i class="fa fa-user"></i> {{ user.username }} ({{ user.agent.townhallagent.commune }} - {{ DEPARTMENT_NUMBER }})</a></li>
                                {% elif user.agent.cgagent %}
                                    <li><a href=''><i class="fa fa-user"></i> {{ user.username }} ({{ user.agent.cgagent.general_council }} - {{ DEPARTMENT_NUMBER }})</a></li>
                                {% elif user.agent.cgsuperior %}
                                    <li><a href=''><i class="fa fa-user"></i> {{ user.username }} ({{ user.agent.cgsuperior.general_council }} - {{ DEPARTMENT_NUMBER }})</a></li>
                                {% endif %}
                                <li><a href='{% url 'agreements:dashboard' %}'><i class="fa fa-tasks"></i> {% trans 'dashboard'|capfirst %}</a></li>
                            {% elif user.subagent %}
                                {% if user.subagent.companyagent %}
                                    <li><a href=''><i class="fa fa-user"></i> {{ user.username }} ({{ user.subagent.companyagent.company }} - {{ DEPARTMENT_NUMBER }})</a></li>
                                {% elif user.subagent.cgdagent %}
                                    <li><a href=''><i class="fa fa-user"></i> {{ user.username }} ({{ user.subagent.cgdagent.cgd }} - {{ DEPARTMENT_NUMBER }})</a></li>
                                {% elif user.subagent.commissariatagent %}
                                    <li><a href=''><i class="fa fa-user"></i> {{ user.username }} ({{ user.subagent.commissariatagent.commissariat }} - {{ DEPARTMENT_NUMBER }})</a></li>
                                {% elif user.subagent.cgserviceagent %}
                                    <li><a href=''><i class="fa fa-user"></i> {{ user.username }} ({{ user.subagent.cgserviceagent.cg_service }} - {{ DEPARTMENT_NUMBER }})</a></li>
                                {% endif %}
                                <li><a href='{% url 'sub_agreements:dashboard' %}'><i class="fa fa-tasks"></i> {% trans 'dashboard'|capfirst %}</a></li>
                            {% endif %}
                            <li class="active">
                                <a href='{% url 'account_logout' %}'><i class="fa fa-sign-out"></i> {% trans 'Log out' %}</a>
                            </li>
                        {% else %}
                            <li class="active">
                                <a href='{% url 'account_login' %}'><i class="fa fa-sign-in"></i> {% trans 'Log in' %}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        {% block body %}
            <div class='container'>
                {% if messages %}
                    <br />
                    <div class='container'>
                        {% for message in messages %}
                            <div class='alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissable'>
                                <button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button>
                                <strong>{{message}}</strong>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                <div class='page-header'>
                    {% block page_title %}{% endblock %}
                </div>

                {% block content %}
                {% endblock %}
            </div>
        {% endblock %}

        {% block extra_body %}
        {% endblock %}

        <footer role='contentinfo'>
            <div class="container">
                <h2 class='text-center'>{% trans 'footer_text'|capfirst %}</h2>
            </div>
        </footer>
        <script src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.5.0/bootstrap-table.min.js'></script>
        <script>
            function dateSorter(date1, date2) {
                var date12 = date1.split('/').reverse().join('');
                var date22 = date2.split('/').reverse().join('');
                if (date12 > date22) return 1;
                if (date12 < date22) return -1;
                return 0;
            };
        </script>
        {% block extra_js %}
        {% endblock %}
    </body>
</html>
