{% load i18n %}
{% load humanize %}

{% if not object.delay_exceeded %}
    {% if object.two_weeks_left %}
        <div class="alert alert-danger">
            <p><strong>{% trans 'attention'|capfirst %} ! </strong>
                {{ object.get_limit_date|naturaltime|capfirst }}, {% trans 'it will be too late to declare the event or ask for its authorization' %}
            </p>
        </div>
    {% else %}
        <div class="alert alert-warning">
            <p><strong>{% trans 'attention'|capfirst %} ! </strong>
                {% trans 'you have until'|capfirst %} {{ object.get_limit_date.date|date|capfirst }}, {% trans 'to declare the event or ask for its authorization' %}
            </p>
        </div>
    {% endif %}
{% else %}
    <div class="alert alert-danger">
        <p><strong>{% trans 'attention'|capfirst %} ! </strong>
            {% trans "it is now too late to declare your event or ask for its authorization."|capfirst %}.<br/>
            {% trans "please contact your prefecture for more details."|capfirst %}
        </p>
    </div>
{% endif %}
