{% extends "events/base.html" %}

{% load url from future %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans 'create an openrunner route'|capfirst %}{% endblock %}
{% block page_title %}
    <h1>{% trans 'create an openrunner route'|capfirst %}</h1>
{% endblock %}

{% block content %}
    <img alt="logo openrunner" src="{% static 'events/img/logo_openrunner.png' %}">
    <p>{% trans 'please go to openrunner, sign in and trace the route of your event'|capfirst %}</p>
    <p>{% trans "once created, your openrunner route will be disponible in the form"|capfirst %}</p>
    <a href="http://ddcs.openrunner.com" class="btn btn-primary" role="button" target='_blank'>
        {% trans 'create an openrunner route'|capfirst %}
    </a>
    <h3>{% trans 'openrunner route allready created ?'|capfirst %}</h3>
    <p>{% trans "you are now ready to continue the declaration"|capfirst %}</p>
    <a href="{% url 'events:event_choose' %}" class="btn btn-primary" role="button">
        {% trans 'continue event creation'|capfirst %}
    </a>
{% endblock %}
