{% extends "events/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans 'non motorized event type choice'|title %}{% endblock %}
{% block page_title %}
    <h1>{% trans 'event needs grouped traffic'|capfirst %} ? </h1>
{% endblock %}

{% block content %}
    <div class="list-group">
        <a href="{% url 'events:declarednonmotorizedevent_add' %}" class="list-group-item">
            <h3>{% trans 'yes'|capfirst %}</h3>
            {% trans 'grouped traffic needed in a certain point'|capfirst %}<br/>
            - {% trans 'more than 75 pedestrians'|capfirst %}<br/>
            - {% trans 'more than 50 cycles or other vehicles (motorized or not)'|capfirst %}<br/>
            - {% trans 'more than 25 horses or other animals'|capfirst %}
        </a>
        <a href="{% url 'events:dashboard' %}" class="list-group-item">
            <h3>{% trans 'no'|capfirst %}</h3>
            {% trans 'no declaration is needed'|capfirst %}<br/>
            {% trans 'go back to the dashboard'|capfirst %}
        </a>
    </div>
{% endblock %}
