{% extends "events/event_detail.html" %}

{% load i18n %}

{% block head_title %}{% trans "declared non motorized event"|title %}{% endblock %}

{% block counter %}
    {% if not object.eventdeclaration.id and object.grouped_traffic %}
        {% include 'events/counter.html' %}
    {% endif %}
{% endblock %}

{% block related_processes %}
    {% if object.grouped_traffic %}
        {% if not object.eventdeclaration.id %}
            {% if object.ready_for_instruction %}
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">{% trans "required actions"|capfirst %}</h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="{% url 'declarations:declaration_add' event_pk=object.id %}" class="btn" role="button">
                                {% trans "make a declaration for a non motorized event"|capfirst %}
                            </a>
                        </li>
                    </ul>
                </div>
            {% else %}
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">{% trans "some documents are still missing in your file"|capfirst %}</h3>
                    </div>
                    <div class="panel-body">
                        <p>{% trans "once these documents added to your file, you'll be able to send your declaration"|capfirst %}</p>
                        <p>{% trans "below is the list of missing documents : "|capfirst %}</p>
                    </div>
                    <ul class="list-group">
                        {% include 'events/missing_documents.html' %}
                    </ul>
                </div>
            {% endif %}
        {% endif %}
    {% else %}
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">{% trans "nothing to do"|capfirst %}</h3>
            </div>
            <div class="panel-body">
                <p>{% trans "a small text to explain some things" %}</p>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block end_of_process %}
    {% if object.grouped_traffic %}
        {% if object.eventdeclaration.id %}
            {% if object.eventdeclaration.state == 'published' and object.eventdeclaration.receipt %}
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">{% trans "receipt has been published"|capfirst %}</h3>
                    </div>
                    <div class="panel-body">
                        <p>{% trans "you can download it by clicking on the link below" %}</p>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item"><a href="{{ object.eventdeclaration.receipt.url }}" target='_blank'>{% trans 'receipt'|capfirst %}</a></li>
                    </ul>
                </div>
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}
