{% extends "events/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% endblock %}

{% block page_title %}
    <p class="text-muted"><span class="fa fa-info-circle"></span> {% trans 'this breadcrumb represents the state of your demand'|capfirst %}</p>
    <ol class="breadcrumb">
        {% for breadcrumb, done in object.get_breadcrumbs %}
            {% if done %}
                <li><button class="btn btn-success" disabled="disabled">{% trans "Step" %} {{ forloop.counter }}<br/>{{ breadcrumb|capfirst }} <span class="fa fa-check"></span></button></li>
            {% else %}
                <li><button class="btn btn-danger" disabled="disabled">{% trans "Step" %} {{ forloop.counter }}<br/>{{ breadcrumb|capfirst }} <span class="fa fa-warning"></span></button></li>
            {% endif %}
        {% endfor %}
        {% if object.processing %}
            {% if object.eventauthorization.state == 'published' %}
                <li><button class="btn btn-success" disabled="disabled">{% trans 'Authorization published' %}<span class="fa fa-check"></span></button></li>
            {% elif object.eventdeclaration.state == 'published' %}
                <li><button class="btn btn-success" disabled="disabled">{% trans 'Declaration published' %}<span class="fa fa-check"></span></button></li>
            {% else %}
                <li><button class="btn btn-default" disabled="disabled">{% trans 'Final Step' %}<br/>{% trans 'Services processing' %}<span class="fa fa-spinner fa-spin"></span></button></li>
                {% if object.missing_additional_data.exists %}
                    <li><button class="btn btn-danger" disabled="disabled">{% trans 'Missing documents' %}<span class="fa fa-warning"></span></button></li>
                {% endif %}
            {% endif %}
        {% else %}
            <li><button class="btn btn-default" disabled="disabled">{% trans 'Final Step' %}<br/>{% trans 'Services processing' %}</button></li>
        {% endif %}
    </ol>
    <p class="text-muted">{% trans 'if some steps are marked in red, it means that your declaration/authorization is still not complete'|capfirst %}</p>
    {% block counter %}{% endblock %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-8">
            <ul class="nav nav-pills">
                <li class="active"><a href="#event" data-toggle="pill">{% trans "event"|capfirst %}</a></li>
                {% include 'events/event_tabs.html' %}
            </ul>
            <div class="tab-content">
                {% include 'events/event_panel_promoter.html' %}
            </div>
        </div>
        <div class="col-sm-4">
            {% include 'events/panels/environmental_evaluations.html' %}
            {% if not object.display_rnr_eval_panel and not object.display_natura2000_eval_panel %}
                {% if not object.delay_exceeded %}
                    {% block related_processes %}{% endblock %}
                {% endif %}
            {% endif %}
            {% if object.missing_additional_data.exists %}
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">{% trans "Some additional data are requested by instructor"|capfirst %}</h3>
                    </div>
                    <div class="panel-body">
                        <p>{% trans "Please provide the documents listed below in order to a good instruction"|capfirst %}</p>
                    </div>
                    <ul class="list-group">
                        {% for additional_data in object.missing_additional_data %}
                            <li class="list-group-item">
                                <a href="{% url 'events:additional_data_provide' pk=additional_data.pk %}">{{ additional_data }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% block end_of_process %}{% endblock %}
            <a href="{% url 'events:dashboard' %}" class="btn" role="button">
                {% trans "go back to the dashboard"|capfirst %}
            </a>
        </div>
    </div>
{% endblock %}
