{% extends "events/base_form.html" %}

{% load crispy_forms_tags %}
{% load i18n %}
{% load staticfiles %}

{% block head_title %}
    {% trans "Organization of an event"|capfirst %}
{% endblock %}

{% block page_title %}
    <h1>{% trans "Organization of an event"|capfirst %}</h1>
{% endblock %}

{% block form %}
    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
        {% crispy form %}
        {{ form.media }}
        {% for form in inlines %}
            <fieldset>
                <legend>{% trans 'on field contact'|capfirst %}</legend>
                {% crispy form form.form.helper %}
            </fieldset>
        {% endfor %}
        <div class="form-actions">
            <input id="submit-id-save" class="btn btn-primary" type="submit" value="{% trans 'save'|capfirst %}" name="save">
            </input>
        </div>
    </form>
{% endblock %}

{% block extra_js %}
    <script src='{% static 'events/js/bootstrap-multiselect.js' %}'></script>
    <link href='{% static 'events/css/bootstrap-multiselect.css' %}' rel='stylesheet' type='text/css'>
    <script src='{% static 'events/js/bootstrap-multiselect-events.js' %}'></script>
{% endblock %}
