{% extends "events/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans 'type of event choice'|capfirst %}{% endblock %}
{% block page_title %}
    <h1>{% trans 'select the type of event you want to organize'|capfirst %}</h1>
{% endblock %}

{% block content %}
    <div class="list-group">
        <a href="{% url 'events:motorizedevent_choose' %}" class="list-group-item">
            <h3>{% trans 'event with participation of motorized vehicles'|capfirst %} *</h3>
        </a>
        <a href="{% url 'events:nonmotorizedevent_choose' %}" class="list-group-item">
            <h3>{% trans 'event without participation of motorized vehicles'|capfirst %} *</h3>
        </a>
    </div>
    <p>* {% trans 'motorized vehicles : concerns participants'|capfirst %}</p>
{% endblock %}
