{% extends "events/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}
    {% trans "dashboard"|title %}
{% endblock %}

{% block page_title %}
    {% include "events/last_news.html" %}
    <h1>{% trans "dashboard"|title %}</h1>
{% endblock %}

{% block content %}
    <div class="row">
        {% if request.user.promoter.structure %}
            <div class="col-sm-6">
                <a href="{% url 'events:create_route' %}" class="btn btn-primary" role="button">
                    {% trans 'add a new event'|capfirst %}
                </a>
                <h3>{% trans 'my events'|capfirst %}</h3>
                <div class="panel panel-default">
                    <div class="list-group">
                        {% for event in object_list %}
                            {% if event.motorizedconcentration %}
                                <a href="{% url 'events:motorizedconcentration_detail' event.id %}" class="list-group-item">{{ event }}</a>
                            {% elif event.motorizedevent %}
                                <a href="{% url 'events:motorizedevent_detail' event.id %}" class="list-group-item">{{ event }}</a>
                            {% elif event.motorizedrace %}
                                <a href="{% url 'events:motorizedrace_detail' event.id %}" class="list-group-item">{{ event }}</a>
                            {% elif event.declarednonmotorizedevent %}
                                <a href="{% url 'events:declarednonmotorizedevent_detail' event.id %}" class="list-group-item">{{ event }}</a>
                            {% elif event.authorizednonmotorizedevent %}
                                <a href="{% url 'events:authorizednonmotorizedevent_detail' event.id %}" class="list-group-item">{{ event }}</a>
                            {% endif %}
                        {% empty %}
                            <a href="" class="list-group-item disabled">{% trans 'no events yet' %}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    {% include "notifications/actions_list.html" %}
                </div>
                <div class="row">
                    {% include "notifications/notifications_list.html" %}
                </div>
            </div>
        {% else %}
            <div class="well">
                <p>{% trans 'before going further, you must provide informations about the structure responsible for the event'|capfirst %}</p>
            </div>
            <div class="col-sm-6">
                <a href="{% url 'events:structure_add' %}" class="btn btn-primary" role="button">
                    {% trans 'create organizational structure'|capfirst %}
                </a>
            </div>
        {% endif %}
    </div>
{% endblock %}
