{% load i18n %}

{% if object.rnrevaluation %}
    <li><a href="#rnr" data-toggle="pill"><span class="fa fa-leaf"></span> {% trans "associated rnr evaluation"|capfirst %}</a></li>
{% endif %}
{% if object.natura2000evaluation %}
    <li><a href="#natura2000" data-toggle="pill"><span class="fa fa-gittip"></span> {% trans "associated natura 2000 evaluation"|capfirst %}</a></li>
{% endif %}
{% if object.additionaldata_set.count > 0 %}
    <li><a href="#additionaldata" data-toggle="pill"><span class="fa fa-th-list"></span> {% trans "additional data"|capfirst %}</a></li>
{% endif %}
