{% extends "events/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{{ object|capfirst }}{% endblock %}
{% block page_title %}
    <h1>{{ object|capfirst }}</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-body">{{ object.description|linebreaks }}</div>
                <ul class="list-group">
                    <li class="list-group-item"><strong><span class="fa fa-calendar"></span> {% trans "begin"|capfirst %} : </strong>{{ object.begin_date|date:"d F Y - H:i" }}</li>
                    <li class="list-group-item"><strong><span class="fa fa-calendar"></span> {% trans "end"|capfirst %} : </strong>{{ object.end_date|date:"d F Y - H:i" }}</li>
                    <li class="list-group-item"><strong><span class="fa fa-square-o"></span> {% trans "sport"|title %} : </strong>{{ object.activity.sport }} - {{ object.activity }}</li>
                    <li class="list-group-item"><strong><span class="fa fa-road"></span> {% trans "takes place on public road"|capfirst %} : </strong>{{ object.activity|yesno|title }}</li>
                    <li class="list-group-item"><strong><span class="fa fa-flag"></span> {% trans "departure city"|capfirst %} : </strong>{{ object.departure_city|capfirst }}</li>
                    <li class="list-group-item"><strong><span class="fa fa-flag"></span> {% trans "crossed cities"|capfirst %} : </strong>
                        {% for city in object.crossed_cities.all %}
                            {% if forloop.last %}
                                {{ city }}.
                            {% else %}
                                {{ city }}, 
                            {% endif %}
                        {% endfor %}
                    </li>
                </ul>
            </div>
        </div>
        {% comment %}
        <div class="col-sm-6">
            {% include 'events/map.html' %}
        </div>
        {% endcomment %}
    </div>
    <a href="{% url 'events:calendar' %}" class="btn btn-primary">{% trans 'Go back to the agenda of sportive events' %}</a>
{% endblock %}
