{% load i18n %}
{% load openrunner %}

<div class="panel-heading">
    <h3 class="panel-title"><span class="fa fa-info-circle"></span> {{ object|capfirst }}
        {% if user.promoter %}
            {% if not object.processing %}
                {% if object.authorizednonmotorizedevent %}
                    <a href="{% url 'events:authorizednonmotorizedevent_update' object.id %}" class="btn btn-primary pull-right" role="button">
                        {% trans "update"|capfirst %}
                    </a>
                {% elif object.declarednonmotorizedevent %}
                    <a href="{% url 'events:declarednonmotorizedevent_update' object.id %}" class="btn btn-primary pull-right" role="button">
                        {% trans "update"|capfirst %}
                    </a>
                {% elif object.motorizedconcentration %}
                    <a href="{% url 'events:motorizedconcentration_update' object.id %}" class="btn btn-primary pull-right" role="button">
                        {% trans "update"|capfirst %}
                    </a>
                {% elif object.motorizedevent %}
                    <a href="{% url 'events:motorizedevent_update' object.id %}" class="btn btn-primary pull-right" role="button">
                        {% trans "update"|capfirst %}
                    </a>
                {% elif object.motorizedrace %}
                    <a href="{% url 'events:motorizedrace_update' object.id %}" class="btn btn-primary pull-right" role="button">
                        {% trans "update"|capfirst %}
                    </a>
                {% endif %}
            {% endif %}
        {% endif %}
    </h3>
</div>
<div class="panel-body">
    <p>{{ object.description|linebreaks }}</p>
</div>
<ul class="list-group">
    {% block associated_process %}{% endblock %}
    <li class="list-group-item"><span class="fa fa-calendar"></span> {% trans "begin"|capfirst %} : {{ object.begin_date }}</li>
    <li class="list-group-item"><span class="fa fa-calendar"></span> {% trans "end"|capfirst %} : {{ object.end_date }}</li>
    <li class="list-group-item"><span class="fa fa-square-o"></span> {% trans "sport - activity"|title %} : {{ object.activity.sport }} - {{ object.activity }}</li>
    {% if object.authorizednonmotorizedevent.multisport_federation %}
        <li class="list-group-item">{% trans "multi-sport federation"|title %} : {{ object.authorizednonmotorizedevent.multisport_federation }}</li>
    {% endif %}
    <li class="list-group-item"><span class="fa fa-calendar"></span> {% trans "event is registered on federations's calendar"|capfirst %} : {{ object.registered_calendar|yesno|title }}</li>
    <li class="list-group-item"><span class="fa fa-road"></span> {% trans "takes place on public road"|capfirst %} : {{ object.activity|yesno|title }}</li>
    <li class="list-group-item"><span class="fa fa-flag"></span> {% trans "departure city"|capfirst %} : {{ object.departure_city|capfirst }}</li>
    <li class="list-group-item"><span class="fa fa-flag"></span> {% trans "crossed cities"|capfirst %} : 
        {% for city in object.crossed_cities.all %}
            {% if forloop.last %}
                {{ city }}.
            {% else %}
                {{ city }}, 
            {% endif %}
        {% endfor %}
    </li>
    <li class="list-group-item"><span class="fa fa-flag-o"></span> {% trans "other departments crossed"|capfirst %} : 
        {% for department in object.other_departments_crossed.all %}
            {% if forloop.last %}
                {{ department }}.
            {% else %}
                {{ department }}, 
            {% endif %}
        {% endfor %}
    </li>
    <li class="list-group-item"><span class="fa fa-users"></span> {% trans "number of entries"|capfirst %} : {{ object.number_of_entries }}</li>
    {% if object.oneway_roads %}
        <li class="list-group-item">
            <span class="fa fa-road"></span>
            {% trans "one way roads"|capfirst %} : {{ object.oneway_roads|linebreaks }}</li>
    {% endif %}
    {% if object.closed_roads %}
        <li class="list-group-item">
            <span class="fa-stack">
                <i class="fa fa-road fa-stack-1x"></i>
                <i class="fa fa-ban fa-stack-2x text-danger"></i>
            </span>
            {% trans "closed roads"|capfirst %} : {{ object.closed_roads|linebreaks }}
        </li>
    {% endif %}
    {% if object.declarednonmotorizedevent.grouped_traffic %}
        <li class="list-group-item">{% trans "grouped traffic"|capfirst %} : {{ object.declarednonmotorizedevent.get_grouped_traffic_display }}</li>
    {% endif %}
    {% if object.declarednonmotorizedevent.support_vehicles_number %}
        <li class="list-group-item">{% trans "number of support vehicles"|capfirst %} : {{ object.declarednonmotorizedevent.support_vehicles_number }}</li>
    {% endif %}
    {% if object.motorizedrace.support %}
        <li class="list-group-item">{% trans "type of support"|capfirst %} : {{ object.motorizedrace.get_support_display }}</li>
    {% endif %}
    {% if object.motorizedevent.vehicles %}
        <li class="list-group-item">{% trans "type and number of vehicles"|capfirst %} : {{ object.motorizedevent.vehicles|linebreaks }}</li>
    {% endif %}
    {% if object.motorizedconcentration.vehicles %}
        <li class="list-group-item">{% trans "type and number of vehicles"|capfirst %} : {{ object.motorizedconcentration.vehicles|linebreaks }}</li>
    {% endif %}
    {% if object.motorizedconcentration.big_concentration %}
        <li class="list-group-item">{% trans "more than 200 cars or 400 mv"|capfirst %} : {{ object.motorizedconcentration.big_concentration|yesno|capfirst }}</li>
    {% endif %}
</ul>
<div class="panel-heading">
    <h3 class="panel-title"><span class="fa fa-user"></span> {% trans "promoter"|capfirst %}</h3>
</div>
<ul class="list-group">
    <li class="list-group-item">{% trans "declarer"|capfirst %} : {{ object.structure.promoter.user.first_name|capfirst }} {{ object.structure.promoter.user.last_name|capfirst }}</li>
    <li class="list-group-item">{% trans "structure"|capfirst %} : {{ object.structure|capfirst }} ({{ object.structure.type_of_structure }})</li>
    <li class="list-group-item">{% trans "address"|capfirst %} : {{ object.structure.address }}, {{object.structure.commune.zip_code}} {{ object.structure.commune|upper }}</li>
    <li class="list-group-item">{% trans "phone"|capfirst %} : {{ object.structure.phone }}</li>
    <li class="list-group-item">{% trans "email"|capfirst %} : {{ object.structure.promoter.user.email }}</li>
</ul>
<div class="panel-heading">
    <h3 class="panel-title"><span class="fa fa-map-marker"></span> {% trans "dynamic map"|capfirst %} ({% trans "openrunner"|capfirst %})</h3>
</div>
<ul class="list-group">
    {% if object.openrunner_route %}
        {% for route_id, route_name in object.get_event_routes.items %}
        <li class="list-group-item">
            {% if not user.promoter %}
                <a href="{{ route_id|url }}" target="_blank">{{ route_name }}</a>
            {% else %}
                {{ route_name }}
            {% endif %}
        </li>
        {% endfor %}
    {% else %}
        <li class="list-group-item">
            {% trans "no openrunner maps"|capfirst %}
        </li>
    {% endif %}
</ul>
{% if not user.promoter and object.get_conflicts_map_url %}
    <div class="panel-heading">
        <h3 class="panel-title"><span class="fa fa-warning"></span> {% trans "possible conflicts with other events"|capfirst %} ({% trans "openrunner"|capfirst %})</h3>
    </div>
    <ul class="list-group">
        <li class="list-group-item">
            {% if object.conflicts_maybe_incomplete %}
                <div class="alert alert-warning">
                    <p><strong>{% trans 'attention !'|capfirst %}</strong> {% trans 'some events possibly in conflicts have no openrunner route'|capfirst %} : </p>
                    {% for event in object.conflicts_maybe_incomplete %}
                        - {{ event }}<br/>
                    {% endfor %}
                </div>
            {% endif %}
            <a href="{{ object.get_conflicts_map_url }}" target='_blank'>{% trans "display possible conflicts on openrunner map"|capfirst %}</a>
        </li>
    </ul>
{% endif %}
<div class="panel-heading">
    <h3 class="panel-title"><span class="fa fa-external-link-square"></span> {% trans "markup convention"|capfirst %}</h3>
</div>
<ul class="list-group">
    <li class="list-group-item">{% trans "you are signatory of the 42 markup temporary convention"|capfirst %} : {{ object.markup_convention|yesno|title }}</li>
</ul>
<div class="panel-heading">
    <h3 class="panel-title"><span class="fa fa-external-link"></span> {% trans "type of markup used"|capfirst %}</h3>
</div>
<ul class="list-group">
    {% if object.chalk_markup %}
        <li class="list-group-item">{% trans "chalk markup"|capfirst %}</li>
    {% endif %}
    {% if object.rubalise_markup %}
        <li class="list-group-item">{% trans "rubalise markup"|capfirst %}</li>
    {% endif %}
    {% if object.bio_rubalise_markup %}
        <li class="list-group-item">{% trans "bio rubalise markup"|capfirst %}</li>
    {% endif %}
    {% if object.paneling_markup %}
        <li class="list-group-item">{% trans "paneling markup"|capfirst %}</li>
    {% endif %}
    {% if object.ground_markup %}
        <li class="list-group-item">{% trans "ground markup"|capfirst %}</li>
    {% endif %}
    {% if object.sticker_markup %}
        <li class="list-group-item">{% trans "sticker markup"|capfirst %}</li>
    {% endif %}
    {% if object.lime_markup %}
        <li class="list-group-item">{% trans "lime markup"|capfirst %}</li>
    {% endif %}
    {% if object.plaster_markup %}
        <li class="list-group-item">{% trans "plaster markup"|capfirst %}</li>
    {% endif %}
    {% if object.confetti_markup %}
        <li class="list-group-item">{% trans "confetti markup"|capfirst %}</li>
    {% endif %}
    {% if object.paint_markup %}
        <li class="list-group-item">{% trans "paint markup"|capfirst %}</li>
    {% endif %}
    {% if object.acrylic_markup %}
        <li class="list-group-item">{% trans "acrylic markup"|capfirst %}</li>
    {% endif %}
    {% if object.withdrawn_markup %}
        <li class="list-group-item">{% trans "withdrawn markup"|capfirst %}</li>
    {% endif %}
</ul>
<div class="panel-heading">
    <h3 class="panel-title"><span class="fa fa-signal"></span> {% trans "natura 2000 impact assessment"|capfirst %}</h3>
</div>
<ul class="list-group">
    {% if object.big_budget %}
        <li class="list-group-item">{% trans "event's budget is over 100 000 euros"|capfirst %}</li>
    {% endif %}
    {% if object.lucrative %}
        <li class="list-group-item">{% trans "event of a lucrative type and gathering more than 1500 people"|capfirst %}</li>
    {% endif %}
    {% if object.big_title %}
        <li class="list-group-item">{% trans "(inter)national title delivred"|capfirst %}</li>
    {% endif %}
    {% if object.motor_on_closed_road %}
        <li class="list-group-item">{% trans "event with motorized vehicules on closed roads"|capfirst %}</li>
    {% endif %}
    {% if object.motor_on_natura2000 %}
        <li class="list-group-item">{% trans "event with motorized vehicules on open roads and on natura 2000 perimeter"|capfirst %}</li>
    {% endif %}
    {% if object.approval_request %}
        <li class="list-group-item">{% trans "event with racetrack approval request"|capfirst %}</li>
    {% endif %}
</ul>
{% include 'contacts/contact_detail.html' with contact=object.contact.first %}
<div class="panel-heading">
    <h3 class="panel-title"><span class="fa fa-paperclip"></span> {% trans "attached files"|capfirst %}</h3>
</div>
<ul class="list-group">
    {% if object.insurance_certificate %}
        <li class="list-group-item">{% trans "insurance certificate"|capfirst %} : <a href="{{ object.insurance_certificate.url }}" target='_blank'>{{ object.insurance_certificate }}</a></li>
    {% endif %}
    {% if object.cartography %}
        <li class="list-group-item">{% trans "cartography"|capfirst %} : <a href="{{ object.cartography.url }}" target='_blank'>{{ object.cartography }}</a></li>
    {% endif %}
    {% if object.event_rules %}
        <li class="list-group-item">{% trans "event rules"|capfirst %} : <a href="{{ object.event_rules.url }}" target='_blank'>{{ object.event_rules }}</a></li>
    {% endif %}
    {% if object.promoter_commitment %}
        <li class="list-group-item">{% trans "promoter commitment"|capfirst %} : <a href="{{ object.promoter_commitment.url }}" target='_blank'>{{ object.promoter_commitment }}</a></li>
    {% endif %}
    {% if object.safety_provisions %}
        <li class="list-group-item">{% trans "safety provisions"|capfirst %} : <a href="{{ object.safety_provisions.url }}" target='_blank'>{{ object.safety_provisions }}</a></li>
    {% endif %}
    {% if object.doctor_attendance %}
        <li class="list-group-item">{% trans "doctor attendance"|capfirst %} : <a href="{{ object.doctor_attendance.url }}" target='_blank'>{{ object.doctor_attendance }}</a></li>
    {% endif %}
    {% if object.rounds_safety %}
        <li class="list-group-item">{% trans "rounds safety"|capfirst %} : <a href="{{ object.rounds_safety.url }}" target='_blank'>{{ object.rounds_safety }}</a></li>
    {% endif %}
    {% if object.motorizedevent.public_zone_map %}
        <li class="list-group-item">{% trans "public zone map"|capfirst %} : <a href="{{ object.motorizedevent.public_zone_map.url }}" target='_blank'>{{ object.motorizedevent.public_zone_map }}</a></li>
    {% endif %}
    {% if object.motorizedevent.commissioners %}
        <li class="list-group-item">{% trans "list of commissioners posts"|capfirst %} : <a href="{{ object.motorizedevent.commissioners.url }}" target='_blank'>{{ object.motorizedevent.commissioners }}</a></li>
    {% endif %}
    {% if object.motorizedevent.tech_promoter_certificate %}
        <li class="list-group-item">{% trans "technical promoter certificate"|capfirst %} : <a href="{{ object.motorizedevent.tech_promoter_certificate.url }}" target='_blank'>{{ object.motorizedevent.tech_promoter_certificate }}</a></li>
    {% endif %}
    {% if object.motorizedevent.hourly_itinerary %}
        <li class="list-group-item">{% trans "hourly itinerary"|capfirst %} : <a href="{{ object.motorizedevent.hourly_itinerary.url }}" target='_blank'>{{ object.motorizedevent.hourly_itinerary }}</a></li>
    {% endif %}
    {% if object.motorizedrace.mass_map %}
        <li class="list-group-item">{% trans "mass map"|capfirst %} : <a href="{{ object.motorizedrace.mass_map.url }}" target='_blank'>{{ object.motorizedrace.mass_map }}</a></li>
    {% endif %}
    {% if object.motorizedevent.delegate_federation_agr %}
        <li class="list-group-item">{% trans "delegate federation agreement"|capfirst %} : <a href="{{ object.motorizedevent.delegate_federation_agr.url }}" target='_blank'>{{ object.motorizedevent.delegate_federation_agr }}</a></li>
    {% endif %}
    {% if object.authorizednonmotorizedevent.signalers_list %}
        <li class="list-group-item">{% trans "signalers list"|capfirst %} : <a href="{{ object.authorizednonmotorizedevent.signalers_list.url }}" target='_blank'>{{ object.authorizednonmotorizedevent.signalers_list }}</a></li>
    {% endif %}
    {% if object.additional_docs %}
        <li class="list-group-item">{% trans "additional docs"|capfirst %} : <a href="{{ object.additional_docs.url }}" target='_blank'>{{ object.additional_docs }}</a></li>
    {% endif %}
</ul>
