{% load i18n %}

{% block event_description %}{% endblock %}
{% if object.rnrevaluation %}
    <div id="rnr" class="panel panel-default tab-pane fade">
        {% include 'evaluations/rnrevaluation_detail.html' with evaluation=object.rnrevaluation %}
    </div>
{% endif %}
{% if object.natura2000evaluation %}
    <div id="natura2000" class="panel panel-default tab-pane fade">
        {% include 'evaluations/natura2000evaluation_detail.html' with evaluation=object.natura2000evaluation %}
    </div>
{% endif %}
{% if object.additionaldata_set.count > 0 %}
    <div id="additionaldata" class="panel panel-default tab-pane fade">
        {% include 'events/additionaldata_detail.html' %}
    </div>
{% endif %}
