{% extends "events/base.html" %}

{% load staticfiles %}
{% load i18n %}

{% url from future %}

{% block head_title %} {% trans 'sportive events in'|title %} {{ DEPARTMENT_NAME }}
{% endblock %}

{% block body %}
    {% block content %}
        <div id="carousel-example-generic" class="carousel slide hidden-xs hidden-sm" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img alt="first slide" src="{% static 'events/img/carousel01.jpg' %}">
                    <div class="carousel-caption">
                        <h2 class="text-left almost-black">{% trans 'organize your sportive event'|upper %}</h2>
                        <p class="text-left"><a class="btn btn-lg btn-primary" role="button" href="/about/">{% trans 'dig it'|capfirst %}</a></p>
                    </div>
                </div>
                <div class="item">
                    <img alt="second slide" src="{% static 'events/img/carousel02.jpg' %}">
                    <!--<div class="carousel-caption">
                        <h2 class="text-left almost-black">{% trans 'know if you need an authorization'|upper %}</h2>
                        <p class="text-left"><a class="btn btn-lg btn-primary" role="button" href="">{% trans 'here'|capfirst %}</a></p>
                    </div>-->
                </div>
                <div class="item">
                    <img alt="third slide" src="{% static 'events/img/carousel03.jpg' %}">
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="fa fa-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="fa fa-chevron-right"></span>
            </a>
        </div>
        <div class="page-header page-header-home">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="thumbnail">
                            <img alt="{% trans 'ddcs icon'|capfirst %}" src="{% static 'events/img/manifloire_brand_big.png' %}">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <h4 class="text-center">
                            {% trans "sportive events in"|upper %} {{ DEPARTMENT_NAME|upper }} ({{ DEPARTMENT_NUMBER }}) <br/><small><em>{% trans 'online administrative steps'|capfirst %}</em></small>
                        </h4>
                    </div>
                    <div class="col-sm-4">
                        <div class="thumbnail">
                            <img alt="{% trans 'state icons'|capfirst %}" src="{% static 'events/img/logos_front.png' %}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                {% if not user.is_authenticated %}
                    <div class="col-sm-4">
                {% else %}
                    <div class="col-sm-6">
                {% endif %}
                    <a href="{% url 'events:calendar' %}" class="btn btn-block button-home" role="button">
                        <h1 class="text-center text-primary"><span class="fa fa-calendar"></span></h1>
                        <h1 class="text-center">{% trans 'calendar'|capfirst %}</h1>
                    </a>
                    <p class="text-center">{% trans 'calendar description'|capfirst %}</p>
                </div>
                {% if not user.is_authenticated %}
                    <div class="col-sm-4">
                        <a href="{% url 'account_signup' %}" class="btn btn-block button-home" role="button">
                            <h1 class="text-center text-primary"><span class="fa fa-pencil-square-o"></span></h1>
                            <h1 class="text-center">{% trans 'signup'|capfirst %}</h1>
                        </a>
                        <p class="text-center">{% trans 'sign up description'|capfirst %}</p>
                    </div>
                {% endif %}
                {% if not user.is_authenticated %}
                    <div class="col-sm-4">
                {% else %}
                    <div class="col-sm-6">
                {% endif %}
                    <a href="/faq/" class="btn btn-block button-home" role="button">
                        <h1 class="text-center text-primary"><span class="fa fa-book"></span></h1>
                        <h1 class="text-center">{% trans 'help & info'|capfirst %}</h1>
                    </a>
                    <p class="text-center">{% trans 'help description'|capfirst %}</p>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}
