{% load i18n %}

{% if last_news %}
    <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>{% trans 'News platform' %}</strong><br/>
        {{ last_news }} : <a href="{{ last_news.page.url }}" class="alert-link">{{ last_news.page.title }}</a>
         (<a href="{% url 'events:news_list' %}">{% trans 'Last news' %}</a>)
    </div>
{% endif %}
