{% extends "events/base.html" %}

{% load i18n %}

{% url from future %}

{% block head_title %}
    {% trans 'send a mail to all townhalls'|title %}
{% endblock %}

{% block page_title %}
    <h1>{% trans 'send a mail to all townhalls'|capfirst %}</h1>
{% endblock %}

{% block content %}
    <div class="container">
        <a href='mailto:?bcc={{ mails }}' class="btn btn-primary" role="button">{% trans 'send a mail to all townhalls'|capfirst %}</a>
    </div>
{% endblock %}
