
{% load i18n %}

{% if not object.event_rules %}
    <li class="list-group-item">{% trans 'event rules'|capfirst %}</li>
{% endif %}
{% if not object.promoter_commitment %}
    <li class="list-group-item">{% trans 'promoter commitment'|capfirst %}</li>
{% endif %}
{% if not object.safety_provisions %}
    <li class="list-group-item">{% trans 'safety provisions'|capfirst %}</li>
{% endif %}
