{% extends "events/event_detail.html" %}

{% load i18n %}

{% block head_title %}{% trans "motorized concentration"|title %}{% endblock %}

{% block counter %}
    {% if object.big_concentration %}
        {% if not object.eventauthorization.id %}
            {% include 'events/counter.html' %}
        {% endif %}
    {% else %}
        {% if not object.eventdeclaration.id %}
            {% include 'events/counter.html' %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block related_processes %}
    {% if object.big_concentration %}
        {% if not object.eventauthorization.id %}
            {% if object.ready_for_instruction %}
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">{% trans "required actions"|capfirst %}</h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="{% url 'authorizations:authorization_add' event_pk=object.id %}" class="btn" role="button">
                                {% trans "request an authorization for a motorized concentration"|capfirst %}
                            </a>
                        </li>
                    </ul>
                </div>
            {% else %}
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">{% trans "some documents are still missing in your file"|capfirst %}</h3>
                    </div>
                    <div class="panel-body">
                        <p>{% trans "once these documents added to your file, you'll be able to request an authorization"|capfirst %}</p>
                        <p>{% trans "below is the list of missing documents : "|capfirst %}</p>
                    </div>
                    <ul class="list-group">
                        {% include 'events/missing_documents.html' %}
                        {% if not object.rounds_safety %}
                            <li class="list-group-item">{% trans 'rounds safety'|capfirst %}</li>
                        {% endif %}
                    </ul>
                </div>
            {% endif %}
        {% endif %}
    {% else %}
        {% if not object.eventdeclaration.id %}
            {% if object.ready_for_instruction %}
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">{% trans "required actions"|capfirst %}</h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="{% url 'declarations:declaration_add' event_pk=object.id %}" class="btn" role="button">
                                {% trans "request a declaration for a motorized concentration"|capfirst %}
                            </a>
                        </li>
                    </ul>
                </div>
            {% else %}
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">{% trans "some documents are still missing in your file"|capfirst %}</h3>
                    </div>
                    <div class="panel-body">
                        <p>{% trans "once these documents added to your file, you'll be able to send your declaration"|capfirst %}</p>
                        <p>{% trans "below is the list of missing documents : "|capfirst %}</p>
                    </div>
                    <ul class="list-group">
                        {% include 'events/missing_documents.html' %}
                    </ul>
                </div>
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block end_of_process %}
    {% if object.big_concentration %}
        {% if object.eventauthorization.id %}
            {% if object.eventauthorization.state == 'published' and object.eventauthorization.bylaw %}
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">{% trans "bylaw has been published"|capfirst %}</h3>
                    </div>
                    <div class="panel-body">
                        <p>{% trans "you can download it by clicking on the link below" %}</p>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item"><a href="{{ object.eventauthorization.bylaw.url }}" target='_blank'>{% trans 'bylaw'|capfirst %}</a></li>
                    </ul>
                </div>
            {% endif %}
        {% endif %}
    {% else %}
        {% if object.eventdeclaration.id %}
            {% if object.eventdeclaration.state == 'published' and object.eventdeclaration.receipt %}
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">{% trans "receipt has been published"|capfirst %}</h3>
                    </div>
                    <div class="panel-body">
                        <p>{% trans "you can download it by clicking on the link below" %}</p>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item"><a href="{{ object.eventdeclaration.receipt.url }}" target='_blank'>{% trans 'receipt'|capfirst %}</a></li>
                    </ul>
                </div>
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}
