{% extends "events/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans 'motorized event ground choice'|title %}{% endblock %}
{% block page_title %}
    <h1>{% trans 'select the ground of the motorized event'|capfirst %}</h1>
{% endblock %}

{% block content %}
    <div class="list-group">
        <a href="{% url 'events:publicroadmotorizedevent_choose' %}" class="list-group-item">
            <h3>{% trans 'motorized event on public road or openned to public circulation'|capfirst %}</h3>
            <ul>
                <li>{% trans 'public road : '|capfirst %}{% trans 'public road definition'|capfirst %}</li>
                <li>{% trans 'rural road : '|capfirst %}{% trans 'rural road definition'|capfirst %}</li>
                <li>{% trans 'private road openned to public circulation: '|capfirst %}{% trans 'private road openned to public circulation definition'|capfirst %}</li>
            </ul>
        </a>
        <a href="{% url 'events:motorizedrace_add' %}" class="list-group-item">
            <h3>{% trans 'motorized event on private ground'|capfirst %}</h3>
            {% trans '(item R331-18 of sport code)'|capfirst %}
            <ul>
                <li>{% trans 'a gathering with motorized vehicles and one or several drivers'|capfirst %}</li>
                <li>{% trans 'presented in an organized way for the audience'|capfirst %}</li>
                <li>{% trans 'a motorsport in its different categories'|capfirst %}</li>
            </ul>
        </a>
    </div>
{% endblock %}
