{% extends "events/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}
    {% trans "News platform"|capfirst %}
{% endblock %}

{% block page_title %}
    <h1>{% trans "News platform"|capfirst %}</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <ul>
            {% for object in object_list %}
                <li>{{ object }} : <a href="{{ object.page.url }}" class="alert-link">{{ object.page.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
