{% extends "events/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans 'non motorized event type choice'|title %}{% endblock %}
{% block page_title %}
    <h1>{% trans 'you organize a competition'|capfirst %} ? </h1>
{% endblock %}

{% block content %}
    <div class="list-group">
        <a href="{% url 'events:authorizednonmotorizedevent_add' %}" class="list-group-item">
            <h3>{% trans 'yes'|capfirst %}</h3>
            {% trans 'with schedule or ranking, with compulsory average or speed'|capfirst %}
        </a>
        <a href="{% url 'events:declarednonmotorizedevent_choose' %}" class="list-group-item">
            <h3>{% trans 'no'|capfirst %}</h3>
        </a>
    </div>
{% endblock %}
