{% extends "events/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans 'public road motorized event choice'|title %}{% endblock %}
{% block page_title %}
    <h1>{% trans 'select the type of the motorized event'|capfirst %}</h1>
{% endblock %}

{% block content %}
    <div class="list-group">
        <a href="{% url 'events:motorizedconcentration_add' %}" class="list-group-item">
            <h3>{% trans 'motorized concentration'|capfirst %}</h3>
            {% trans '(item R331-18 of sport code)'|capfirst %}
            <ul>
                <li>{% trans 'a gathering with motorized vehicles'|capfirst %}</li>
                <li>{% trans 'taking place on public road in respect of driving code'|capfirst %}</li>
                <li>{% trans 'enforcing one or several rally points'|capfirst %}</li>
                <li>{% trans 'without ranking'|capfirst %}</li>
            </ul>
        </a>
        <a href="{% url 'events:motorizedevent_add' %}" class="list-group-item">
            <h3>{% trans 'motorized manifestation'|capfirst %}</h3>
            {% trans '(item R331-18 of sport code)'|capfirst %}
            <ul>
                <li>{% trans 'a gathering with motorized vehicles and one or several drivers'|capfirst %}</li>
                <li>{% trans 'presented in an organized way for the audience'|capfirst %}</li>
                <li>{% trans 'a motorsport in its different categories'|capfirst %}</li>
                <li>{% trans 'manifestations usually have a timed ranking'|capfirst %}</li>
            </ul>
        </a>
    </div>
{% endblock %}
