{% load i18n %}

<div class="panel-heading">
    {% block associated_evaluation %}
    {% endblock %}
</div>
<ul class="list-group">
    <li class="list-group-item">{% trans "place"|capfirst %} : {{ evaluation.place|capfirst }}</li>
    {% block daynight %}
    {% endblock %}
</ul>


<div class="panel-heading">
    <h3 class="panel-title"><span class="fa fa-calendar"></span> {% trans "frequency"|capfirst %}</h3>
</div>
<ul class="list-group">
    {% if evaluation.every_year %}
        <li class="list-group-item">{% trans "event takes place every year"|capfirst %} : {{ evaluation.every_year|yesno|title }}</li>
    {% endif %}
    {% if evaluation.first_edition %}
        <li class="list-group-item">{% trans "first edition of the event"|capfirst %} : {{ evaluation.first_edition|yesno|title }}</li>
    {% endif %}
    {% if evaluation.other_frequency %}
        <li class="list-group-item">{% trans "other frequency"|capfirst %} : {{ evaluation.other_frequency|capfirst }}</li>
    {% endif %}
    {% block frequency %}
    {% endblock %}
</ul>


{% block attendance %}
{% endblock %}


<div class="panel-heading">
    <h3 class="panel-title"><span class="fa fa-eur"></span> {% trans "budget"|capfirst %}</h3>
</div>
<ul class="list-group">
    <li class="list-group-item">{% trans "cost"|capfirst %} : {{ evaluation.get_cost_display }}</li>
</ul>


<div class="panel-heading">
    {% if evaluation.rnr_entries %}
        <h3 class="panel-title"><span class="fa fa-map-marker"></span> {% trans "rnr relative localization"|capfirst %}</h3>
    {% else %}
        <h3 class="panel-title"><span class="fa fa-map-marker"></span> {% trans "natura 2000 relative localization"|capfirst %}</h3>
    {% endif %}
</div>
<ul class="list-group">
    <li class="list-group-item">{% trans "track total length"|capfirst %} : {{ evaluation.track_total_length }}</li>
</ul>

{% block sites %}
{% endblock %}

{% block provisions_taken %}
{% endblock %}

{% block area_of_influence %}
{% endblock %}

{% block natural_habitats %}
{% endblock %}

{% block species %}
{% endblock %}

<div class="panel-heading">
    <h3 class="panel-title"><span class="fa fa-th"></span> {% trans "related facilities"|capfirst %}</h3>
</div>
    <ul class="list-group">
    {% if evaluation.parking_lot or evaluation.parking_lot_desc %}
        <li class="list-group-item">{% trans "parking lot"|capfirst %} : {{ evaluation.parking_lot|yesno|title }}
            {% if evaluation.parking_lot_desc %}
                - {{ evaluation.parking_lot_desc|capfirst }}
            {% endif %}
        </li>
    {% endif %}
    {% if evaluation.reception_area or evaluation.reception_area_desc %}
        <li class="list-group-item">{% trans "reception area"|capfirst %} : {{ evaluation.reception_area|yesno|title }}
            {% if evaluation.reception_area_desc %}
                - {{ evaluation.reception_area_desc|capfirst }}
            {% endif %}
        </li>
    {% endif %}
    {% if evaluation.supplying_area or evaluation.supplying_area_desc %}
        <li class="list-group-item">{% trans "supplying area"|capfirst %} : {{ evaluation.supplying_area|yesno|title }}
        {% if evaluation.supplying_area_desc %}
            - {{ evaluation.supplying_area_desc|capfirst }}
        {% endif %}
        </li>
    {% endif %}
    {% if evaluation.storage_area or evaluation.storage_area_desc %}
        <li class="list-group-item">{% trans "storage area"|capfirst %} : {{ evaluation.storage_area|yesno|title }}
            {% if evaluation.storage_area_desc %}
                - {{ evaluation.storage_area_desc|capfirst }}
            {% endif %}
        </li>
    {% endif %}
    {% if evaluation.awards_stage or evaluation.awards_stage_desc %}
        <li class="list-group-item">{% trans "awards stage"|capfirst %} : {{ evaluation.awards_stage|yesno|title }}
            {% if evaluation.awards_stage_desc %}
                - {{ evaluation.awards_stage_desc|capfirst }}
            {% endif %}
        </li>
    {% endif %}
    {% if evaluation.bivouac_area or evaluation.bivouac_area_desc %}
        <li class="list-group-item">{% trans "bivouac area"|capfirst %} : {{ evaluation.bivouac_area|yesno|title }}
            {% if evaluation.bivouac_area_desc %}
                - {{ evaluation.bivouac_area_desc|capfirst }}
            {% endif %}
        </li>
    {% endif %}
    {% if evaluation.noise or evaluation.noise_desc %}
        <li class="list-group-item">{% trans "noise"|capfirst %} : {{ evaluation.noise|yesno|title }}
            {% if evaluation.noise_desc %}
                - {{ evaluation.noise_desc|capfirst }}
            {% endif %}
        </li>
    {% endif %}
    {% if evaluation.night_lighting or evaluation.night_lighting_desc %}
        <li class="list-group-item">{% trans "night lighting"|capfirst %} : {{ evaluation.night_lighting|yesno|title }}
            {% if evaluation.night_lighting_desc %}
                - {{ evaluation.night_lighting_desc|capfirst }}
            {% endif %}
        </li>
    {% endif %}
    {% if evaluation.trails_marks or evaluation.trails_marks_desc %}
        <li class="list-group-item">{% trans "trails marks"|capfirst %} : {{ evaluation.trails_marks|yesno|title }}
            {% if evaluation.trails_marks_desc %}
            - {{ evaluation.trails_marks_desc|capfirst }}
            {% endif %}
        </li>
    {% endif %}
    {% if evaluation.other_facilities or evaluation.other_facilities_desc %}
        <li class="list-group-item">{% trans "other facilities"|capfirst %} : {{ evaluation.other_facilities|yesno|title }}
            {% if evaluation.other_facilities_desc %}
            - {{ evaluation.other_facilities_desc|capfirst }}
            {% endif %}
        </li>
    {% endif %}
</ul>


<div class="panel-heading">
    <h3 class="panel-title"><span class="fa fa-signal"></span> 
        {% if evaluation.rnr_conclusion %}
            {% trans "rnr potential implications"|capfirst %}
        {% else %}
            {% trans "natura 2000 potential implications"|capfirst %}
        {% endif %}
    </h3>
</div>
<ul class="list-group">
    {% if evaluation.water_crossing %}
        <li class="list-group-item">{% trans "water crossing"|capfirst %} : {{ evaluation.water_crossing|yesno|title }}</li>
    {% endif %}
    {% if evaluation.off_trail %}
        <li class="list-group-item">{% trans "off trail"|capfirst %} : {{ evaluation.off_trail|yesno|title }}</li>
    {% endif %}
    {% if evaluation.bio_implications %}
        <li class="list-group-item">{% trans "bio implications"|capfirst %} : {{ evaluation.bio_implications|yesno|title }}</li>
    {% endif %}
    {% if evaluation.related_facilities %}
        <li class="list-group-item">{% trans "related facilities"|capfirst %} : {{ evaluation.related_facilities|yesno|title }}</li>
    {% endif %}
    {% if evaluation.noise_emissions %}
        <li class="list-group-item">{% trans "noise emissions"|capfirst %} : {{ evaluation.noise_emissions|yesno|title }}</li>
    {% endif %}
    {% if evaluation.light_emissions %}
    <li class="list-group-item">{% trans "light emissions"|capfirst %} : {{ evaluation.light_emissions|yesno|title }}</li>
    {% endif %}
    {% if evaluation.waste_management or evaluation.waste_management_desc %}
        <li class="list-group-item">{% trans "waste management"|capfirst %} : {{ evaluation.waste_management|yesno|title }}
            {% if evaluation.waste_management_desc %}
                - {{ evaluation.waste_management_desc|capfirst }}
            {% endif %}
        </li>
    {% endif %}
    {% if evaluation.awareness %}
        <li class="list-group-item">{% trans "awareness"|capfirst %} : {{ evaluation.awareness|yesno|title }}</li>
    {% endif %}
    {% if evaluation.impact_reduction or evaluation.impact_reduction_desc %}
        <li class="list-group-item">{% trans "impact reduction"|capfirst %} : {{ evaluation.impact_reduction|yesno|title }}
            {% if evaluation.impact_reduction_desc %}
                - {{ evaluation.impact_reduction_desc|capfirst }}
            {% endif %}
        </li>
    {% endif %}
    {% block potential_implications %}
    {% endblock %}
</ul>

<div class="panel-heading">
    <h3 class="panel-title"><span class="fa fa-arrow-circle-o-right"></span> {% trans "conclusions"|capfirst %}</h3>
</div>
<ul class="list-group">
    {% block conclusion %}
        <li class="list-group-item">{% trans "estimated impact"|capfirst %} : {{ evaluation.estimated_impact|capfirst }}</li>
    {% endblock %}
</ul>
