{% extends "evaluations/evaluation_detail.html" %}

{% load i18n %}

{% block associated_evaluation %}
    <h3 class="panel-title"><span class="fa fa-gittip"></span> {% trans "associated natura 2000 evaluation"|capfirst %}
        {% ifequal user object.structure.promoter.user %}
            {% if not object.processing %}
                <a href="{% url 'evaluations:natura2000evaluation_update' object.natura2000evaluation.pk %}" class="btn btn-primary pull-right" role="button">
                    {% trans "update"|capfirst %}
                </a>
            {% endif %}
        {% endifequal %}
    </h3>
{% endblock %}


{% block daynight %}
    {% if evaluation.diurnal %}
        <li class="list-group-item">{% trans "diurnal"|capfirst %} : {{ evaluation.diurnal|yesno|title }}</li>
    {% endif %}
    {% if evaluation.nocturnal %}
        <li class="list-group-item">{% trans "nocturnal"|capfirst %} : {{ evaluation.nocturnal|yesno|title }}</li>
    {% endif %}
{% endblock %}


{% block sites %}
    {% if evaluation.sites.first %}
        <div class="panel-heading">
            <h3 class="panel-title"><span class="fa fa-dot-circle-o"></span> {% trans "natura 2000 sites concerned"|capfirst %}</h3>
        </div>
        <ul class="list-group">
            {% for site in evaluation.sites.all %}
                <li class="list-group-item">- {{ site }}</li>
            {% endfor %}
            <li class="list-group-item">{% trans "range from site"|capfirst %} : {{ evaluation.range_from_site }} km</li>
        </ul>
    {% endif %}
{% endblock %}


{% block area_of_influence %}
    <div class="panel-heading">
        <h3 class="panel-title"><span class="fa fa-dot-circle-o"></span> {% trans "area of influence"|capfirst %}</h3>
    </div>
    <ul class="list-group">
        {% if evaluation.rnn %}
            <li class="list-group-item">{% trans "rnn"|capfirst %} : {{ evaluation.rnn|yesno|title }}</li>
        {% endif %}
        {% if evaluation.rnr %}
            <li class="list-group-item">{% trans "rnr"|capfirst %} : {{ evaluation.rnr|yesno|title }}</li>
        {% endif %}
        {% if evaluation.biotope_area %}
            <li class="list-group-item">{% trans "biotope area"|capfirst %} : {{ evaluation.biotope_area|yesno|title }}</li>
        {% endif %}
        {% if evaluation.classified_site %}
            <li class="list-group-item">{% trans "classified site"|capfirst %} : {{ evaluation.classified_site|yesno|title }}</li>
        {% endif %}
        {% if evaluation.registered_site %}
            <li class="list-group-item">{% trans "registered site"|capfirst %} : {{ evaluation.registered_site|yesno|title }}</li>
        {% endif %}
        {% if evaluation.pnr %}
            <li class="list-group-item">{% trans "pnr"|capfirst %} : {{ evaluation.pnr|yesno|title }}</li>
        {% endif %}
        {% if evaluation.znieff %}
            <li class="list-group-item">{% trans "znieff"|capfirst %} : {{ evaluation.znieff|yesno|title }}</li>
        {% endif %}
    </ul>
{% endblock %}


{% block natural_habitats %}
    <div class="panel-heading">
        <h3 class="panel-title"><span class="fa fa-leaf"></span> {% trans "potential impacts on natural habitats"|capfirst %}</h3>
    </div>
    <ul class="list-group">
        {% if evaluation.lawn or evaluation.lawn_comments %}
            <li class="list-group-item">{% trans "lawn"|capfirst %} : {{ evaluation.lawn|yesno|title }}
                {% if evaluation.lawn_comments %}
                    - {{ evaluation.lawn_comments|capfirst }}
                {% endif %}
            </li>
        {% endif %}
        {% if evaluation.semi_wooded_lawn or evaluation.semi_wooded_lawn_comments %}
            <li class="list-group-item">{% trans "semi-wooded lawn"|capfirst %} : {{ evaluation.semi_wooded_lawn|yesno|title }}
                {% if evaluation.semi_wooded_lawn_comments %}
                    - {{ evaluation.semi_wooded_lawn_comments|capfirst }}
                {% endif %}
            </li>
        {% endif %}
        {% if evaluation.moor or evaluation.moor_comments %}
            <li class="list-group-item">{% trans "moor"|capfirst %} : {{ evaluation.moor|yesno|title }}
                {% if evaluation.moor_comments %}
                    - {{ evaluation.moor_comments|capfirst }}
                {% endif %}
            </li>
        {% endif %}
        {% if evaluation.scrubland_maquis or evaluation.scrubland_maquis_comments %}
            <li class="list-group-item">{% trans "scrubland/maquis"|capfirst %} : {{ evaluation.scrubland_maquis|yesno|title }}
                {% if evaluation.scrubland_maquis_comments %}
                    - {{ evaluation.scrubland_maquis_comments|capfirst }}
                {% endif %}
            </li>
        {% endif %}
        {% if evaluation.coniferous_forest or evaluation.coniferous_forest_comments %}
            <li class="list-group-item">{% trans "coniferous forest"|capfirst %} : {{ evaluation.coniferous_forest|yesno|title }}
                {% if evaluation.coniferous_forest_comments %}
                    - {{ evaluation.coniferous_forest_comments|capfirst }}
                {% endif %}
            </li>
        {% endif %}
        {% if evaluation.deciduous_forest or evaluation.deciduous_forest_comments %}
            <li class="list-group-item">{% trans "deciduous forest"|capfirst %} : {{ evaluation.deciduous_forest|yesno|title }}
                {% if evaluation.deciduous_forest_comments %}
                    - {{ evaluation.deciduous_forest_comments|capfirst }}
                {% endif %}
            </li>
        {% endif %}
        {% if evaluation.mixed_forest or evaluation.mixed_forest_comments %}
            <li class="list-group-item">{% trans "mixed forest"|capfirst %} : {{ evaluation.mixed_forest|yesno|title }}
                {% if evaluation.mixed_forest_comments %}
                    - {{ evaluation.mixed_forest_comments|capfirst }}
                {% endif %}
            </li>
        {% endif %}
        {% if evaluation.plantation or evaluation.plantation_comments %}
            <li class="list-group-item">{% trans "plantation"|capfirst %} : {{ evaluation.plantation|yesno|title }}
                {% if evaluation.plantation_comments %}
                    - {{ evaluation.plantation_comments|capfirst }}
                {% endif %}
            </li>
        {% endif %}
        {% if evaluation.cliff or evaluation.cliff_comments %}
            <li class="list-group-item">{% trans "cliff"|capfirst %} : {{ evaluation.cliff|yesno|title }}
                {% if evaluation.cliff_comments %}
                    - {{ evaluation.cliff_comments|capfirst }}
                {% endif %}
            </li>
        {% endif %}
        {% if evaluation.outcrop or evaluation.outcrop_comments %}
            <li class="list-group-item">{% trans "outcrop"|capfirst %} : {{ evaluation.outcrop|yesno|title }}
                {% if evaluation.outcrop_comments %}
                    - {{ evaluation.outcrop_comments|capfirst }}
                {% endif %}
            </li>
        {% endif %}
        {% if evaluation.scree or evaluation.scree_comments %}
            <li class="list-group-item">{% trans "scree"|capfirst %} : {{ evaluation.scree|yesno|title }}
                {% if evaluation.scree_comments %}
                    - {{ evaluation.scree_comments|capfirst }}
                {% endif %}
            </li>
        {% endif %}
        {% if evaluation.blocks or evaluation.blocks_comments %}
            <li class="list-group-item">{% trans "blocks"|capfirst %} : {{ evaluation.blocks|yesno|title }}
                {% if evaluation.blocks_comments %}
                    - {{ evaluation.blocks_comments|capfirst }}
                {% endif %}
            </li>
        {% endif %}
        {% if evaluation.ditch or evaluation.ditch_comments %}
            <li class="list-group-item">{% trans "ditch"|capfirst %} : {{ evaluation.ditch|yesno|title }}
                {% if evaluation.ditch_comments %}
                    - {{ evaluation.ditch_comments|capfirst }}
                {% endif %}
            </li>
        {% endif %}
        {% if evaluation.watercourse or evaluation.watercourse_comments %}
            <li class="list-group-item">{% trans "watercourse"|capfirst %} : {{ evaluation.watercourse|yesno|title }}
                {% if evaluation.watercourse_comments %}
                    - {{ evaluation.watercourse_comments|capfirst }}
                {% endif %}
            </li>
        {% endif %}
        {% if evaluation.pound or evaluation.pound_comments %}
            <li class="list-group-item">{% trans "pound"|capfirst %} : {{ evaluation.pound|yesno|title }}
                {% if evaluation.pound_comments %}
                    - {{ evaluation.pound_comments|capfirst }}
                {% endif %}
            </li>
        {% endif %}
        {% if evaluation.bog or evaluation.bog_comments %}
            <li class="list-group-item">{% trans "bog"|capfirst %} : {{ evaluation.bog|yesno|title }}
                {% if evaluation.bog_comments %}
                    - {{ evaluation.bog_comments|capfirst }}
                {% endif %}
            </li>
        {% endif %}
        {% if evaluation.gravel or evaluation.gravel_comments %}
            <li class="list-group-item">{% trans "gravel"|capfirst %} : {{ evaluation.gravel|yesno|title }}
                {% if evaluation.gravel_comments %}
                    - {{ evaluation.gravel_comments|capfirst }}
                {% endif %}
            </li>
        {% endif %}
        {% if evaluation.wet_meadow or evaluation.wet_meadow_comments %}
            <li class="list-group-item">{% trans "wet meadow"|capfirst %} : {{ evaluation.wet_meadow|yesno|title }}
                {% if evaluation.wet_meadow_comments %}
                    - {{ evaluation.wet_meadow_comments|capfirst }}
                {% endif %}
            </li>
        {% endif %}
    </ul>
{% endblock %}


{% block species %}
    <div class="panel-heading">
        <h3 class="panel-title"><span class="fa fa-bolt"></span> {% trans "potential impacts on species"|capfirst %}</h3>
    </div>
    <ul class="list-group">
        {% if evaluation.amphibia or evaluation.amphibia_species %}
            <li class="list-group-item">{% trans "amphibia"|capfirst %} : {{ evaluation.amphibia|yesno|title }}
                {% if evaluation.amphibia_species %}
                    - {{ evaluation.amphibia_species|capfirst }}
                {% endif %}
            </li>
        {% endif %}
        {% if evaluation.reptiles or evaluation.reptiles_species %}
            <li class="list-group-item">{% trans "reptiles"|capfirst %} : {{ evaluation.reptiles|yesno|title }}
                {% if evaluation.reptiles_species %}
                    - {{ evaluation.reptiles_species|capfirst }}
                {% endif %}
            </li>
        {% endif %}
        {% if evaluation.crustaceans or evaluation.crustaceans_species %}
            <li class="list-group-item">{% trans "crustaceans"|capfirst %} : {{ evaluation.crustaceans|yesno|title }}
                {% if evaluation.crustaceans_species %}
                    - {{ evaluation.crustaceans_species|capfirst }}
                {% endif %}
            </li>
        {% endif %}
        {% if evaluation.insects or evaluation.insects_species %}
            <li class="list-group-item">{% trans "insects"|capfirst %} : {{ evaluation.insects|yesno|title }}
                {% if evaluation.insects_species %}
                    - {{ evaluation.insects_species|capfirst }}
                {% endif %}
            </li>
        {% endif %}
        {% if evaluation.terrestrial_mammals or evaluation.terrestrial_mammals_species %}
            <li class="list-group-item">{% trans "terrestrial mammals"|capfirst %} : {{ evaluation.terrestrial_mammals|yesno|title }}
                {% if evaluation.terrestrial_mammals_species %}
                    - {{ evaluation.terrestrial_mammals_species|capfirst }}
                {% endif %}
            </li>
        {% endif %}
        {% if evaluation.birds or evaluation.birds_species %}
            <li class="list-group-item">{% trans "birds"|capfirst %} : {{ evaluation.birds|yesno|title }}
                {% if evaluation.birds_species %}
                    - {{ evaluation.birds_species|capfirst }}
                {% endif %}
            </li>
        {% endif %}
        {% if evaluation.plants or evaluation.plants_species %}
            <li class="list-group-item">{% trans "plants"|capfirst %} : {{ evaluation.plants|yesno|title }}
                {% if evaluation.plants_species %}
                    - {{ evaluation.plants_species|capfirst }}
                {% endif %}
            </li>
        {% endif %}
        {% if evaluation.fish or evaluation.fish_species %}
            <li class="list-group-item">{% trans "fish"|capfirst %} : {{ evaluation.fish|yesno|title }}
                {% if evaluation.fish_species %}
                    - {{ evaluation.fish_species|capfirst }}
                {% endif %}
            </li>
        {% endif %}
    </ul>
{% endblock %}

{% block conclusion %}
    {{ block.super }}
    <li class="list-group-item">{% trans "natura 2000 conclusion"|capfirst %} : {{ evaluation.natura_2000_conclusion|yesno|title }}</li> 
{% endblock %}
