{% extends "evaluations/evaluation_detail.html" %}

{% load i18n %}

{% block associated_evaluation %}
    <h3 class="panel-title"><span class="fa fa-leaf"></span> {% trans "associated rnr evaluation"|capfirst %}
        {% ifequal user object.structure.promoter.user %}
            {% if not object.processing %}
                <a href="{% url 'evaluations:rnrevaluation_update' evaluation.pk %}" class="btn btn-primary pull-right" role="button">
                    {% trans "update"|capfirst %}
                </a>
            {% endif %}
        {% endifequal %}
    </h3>
{% endblock %}

{% block sites %}
    {% if evaluation.sites.first %}
        <div class="panel-heading">
            <h3 class="panel-title"><span class="fa fa-dot-circle-o"></span> {% trans "rnr sites concerned"|capfirst %}</h3>
        </div>
        <ul class="list-group">
            {% for site in evaluation.sites.all %}
                <li class="list-group-item">- {{ site }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}


{% block frequency %}
    {{ block.super }}
    <li class="list-group-item">{% trans "request duration"|capfirst %} : {{ evaluation.get_request_duration_display|capfirst }}</li>
{% endblock %}


{% block attendance %}
    <div class="panel-heading">
        <h3 class="panel-title"><span class="fa fa-users"></span> {% trans "attendance"|capfirst %}</h3>
    </div>
    <ul class="list-group">
        <li class="list-group-item">{% trans "entries concerned by the RNR"|capfirst %} : {{ evaluation.rnr_entries }} {% trans "persons" %}</li>
        <li class="list-group-item">{% trans "attendance concerned by the RNR"|capfirst %} : {{ evaluation.rnr_attendance }} {% trans "persons" %}</li>
    </ul>
{% endblock %}

{% block provisions_taken %}
    <div class="panel-heading">
        <h3 class="panel-title"><span class="fa fa-tint"></span> {% trans "provisions taken"|capfirst %}</h3>
    </div>
    <ul class="list-group">
        <li class="list-group-item">{% trans "administrator contact date"|capfirst %} : {{ evaluation.administrator_contact_date }}</li>
        <li class="list-group-item">{% trans "sensitization"|capfirst %} : {{ evaluation.sensitization|capfirst }}</li>
        <li class="list-group-item">{% trans "forbidden areas"|capfirst %} : {{ evaluation.forbidden_areas }}</li>
        <li class="list-group-item">{% trans "administrator attendance desired"|capfirst %} : {{ evaluation.administrator_attendance|yesno|title }}</li>
    </ul>
{% endblock %}

{% block potential_implications %}
    {{ block.super }}
    {% if evaluation.plane_attendance or evaluation.plane_attendance_desc %}
        <li class="list-group-item">{% trans "plane attendance"|capfirst %} : {{ evaluation.plane_attendance|yesno|title }}
            {% if evaluation.plane_attendance_desc %}
                - {{ evaluation.plane_attendance_desc|capfirst }}
            {% endif %}
        </li>
    {% endif %}
    {% if evaluation.trampling or evaluation.trampling_desc %}
        <li class="list-group-item">{% trans "trampling"|capfirst %} : {{ evaluation.trampling|yesno|title }}
            {% if evaluation.trampling_desc %}
                - {{ evaluation.trampling_desc|capfirst }}
            {% endif %}
        </li>
    {% endif %}
    {% if evaluation.markup or evaluation.markup_desc %}
        <li class="list-group-item">{% trans "markup"|capfirst %} : {{ evaluation.markup|yesno|title }}
            {% if evaluation.markup_desc %}
                - {{ evaluation.markup_desc|capfirst }}
            {% endif %}
        </li>
    {% endif %}
{% endblock %}


{% block conclusion %}
    {{ block.super }}
    <li class="list-group-item">{% trans "regulatory compliance"|capfirst %} : {{ evaluation.regulatory_compliance|yesno|title }}</li> 
    <li class="list-group-item">{% trans "rnr conclusion"|capfirst %} : {{ evaluation.rnr_conclusion|yesno|title }}</li> 
{% endblock %}
