{% extends "events/base.html" %}

{% load url from future %}
{% load i18n %}


{% block head_title %}
    {% trans "event declaration"|title %}
{% endblock %}

{% block page_title %}
    <h1>{{ object.event|capfirst }}</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-8">
            <ul class="nav nav-pills">
                <li class="active"><a href="#declaration" data-toggle="pill">{% trans "declaration"|capfirst %}</a></li>
                <li><a href="#event" data-toggle="pill">{% trans "event detail"|capfirst %}</a></li>
                {% include 'events/event_tabs.html' with object=object.event %}
            </ul>
            <div class="tab-content">
                <div id="declaration" class="panel panel-default tab-pane fade in active">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ object.event|capfirst }}
                        </h3>
                    </div>
                    <ul class="list-group">
                        {% if object.event.creation_date %}
                            <li class="list-group-item">{% trans "event creation date"|capfirst %} : {{ object.event.creation_date }}</li>
                      	{% endif %}
                        <li class="list-group-item">{% trans "declaration dispatch date"|capfirst %} : {{ object.creation_date }}</li>
                        {% if object.receipt %}
                            <li class="list-group-item">{% trans "receipt"|capfirst %} : <a href="{{ object.receipt.url }}" target='_blank'>{{ object.receipt }}</a></li>
                        {% endif %}
                    </ul>
                </div>
                {% include 'events/event_panel_instructor.html' with object=object.event %}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{% trans "actions available"|capfirst %}</h3>
                </div>
                <div class="panel-body">
                    <p>{% trans "find here all actions available related to this event"|capfirst %}</p>
                </div>
                <ul class="list-group">
                    {% if object.state != 'published' %}
                        <li class="list-group-item">
                            <a href="{% url 'events:additional_data_add' event_pk=object.event.id %}" class="btn" role="button">
                                {% trans "request more information"|capfirst %}
                            </a>
                        </li>
                    {% endif %}
                    {% if object.state == 'created' %}
                        <li class="list-group-item">
                            <a href="{% url 'declarations:declaration_publish' pk=object.id %}" class="btn" role="button">
                                {% trans "publish receipt"|capfirst %}
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <a href="{% url 'authorizations:dashboard' %}" class="btn" role="button">
                {% trans "go back to the dashboard"|capfirst %}
            </a>
        </div>
    </div>
{% endblock %}
