{% load i18n %}

{% if contact %}
    <div class="panel-heading">
        <h3 class="panel-title"><span class="fa fa-phone-square"></span> {% trans "on field contact"|capfirst %}</h3>
    </div>
    <ul class="list-group">
        <li class="list-group-item">
            {{ contact.first_name|capfirst }} {{ contact.last_name|capfirst }} - {{ contact.phone }}
        </li>
    </ul>
{% endif %}
