/* html tag */
body {
    padding-top: 60px;
}

footer {
    background-color: #83ccd3;
    color: white;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
}

footer > .container > h2 {
    font-weight: 300;
}

.table {
    background-color: #ffffff;
}

/* home page */
.page-header-home {
    background-color: #dcdcdc;
    margin-top: 0px;
}

.page-header-home > .container > .row > .col-sm-4 > .thumbnail {
    background-color: #dcdcdc;
    margin-bottom: 0px;
}

.button-home {
    border-bottom: 5px solid #83CCD3;
    color: #333333;
}

.button-home:hover {
    background-color: #83CCD3;
    color: white;
}
.button-home:hover > h1 > .fa {
    color: white;
}

.button-home > h1 > .fa {
    color: #83CCD3;
}

.navbar {
    background-image: url('/static/events/img/background.jpg');
    height: 60px;
}

.navbar-brand {
    padding-top: 2px;
    padding-bottom: 2px;
}

.almost-black{
    background-color: #222222;
    opacity: 0.85;
    font-weight: 300;
    padding: 10px;
    width: 355px;
}

/* definition by id */
#carousel-example-generic {
    max-width: 2400px;
}

.carousel-inner > .item > img {
    min-height: 300px;
}

.authorizations-requested .list-group-item {
    padding-right: 90px;
}

.top-right {
    position: absolute;
    right: 5px;
    top: 11px;
}

.fa {
    margin-right: 5px;
}

.pull-right + .pull-right {
    margin-right: 10px;
}