{% extends "events/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "natura 2000 sites"|title %}{% endblock %}
{% block page_title %}
    <h1>{% trans 'natura 2000 sites'|capfirst %}</h1>
{% endblock %}

{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th>{% trans "index"|capfirst %}</th>
                <th>{% trans "type"|capfirst %}</th>
                <th>{% trans "name"|capfirst %}</th>
                <th>{% trans "operator"|capfirst %}</th>
                <th>{% trans "address"|capfirst %}</th>
                <th>{% trans "conservator"|capfirst %}</th>
                <th>{% trans "phone"|capfirst %}</th>
                <th>{% trans "e-mail"|capfirst %}</th>
            </tr>
        </thead>
        <tbody>
            {% for reserve in object_list %}
                <tr>
                    <td>{{ reserve.index }}</td>
                    <td>{{ reserve.get_site_type_display }}</td>
                    <td>{{ reserve.name }}</td>
                    <td>{{ reserve.natura2000siteoperator.name }}</td>
                    <td>{{ reserve.natura2000siteoperator.address.first }}</td>
                    <td>{{ reserve.natura2000siteoperator.person_in_charge.first }}</td>
                    <td>{{ reserve.natura2000siteoperator.person_in_charge.first.phone }}</td>
                    <td>{{ reserve.natura2000siteoperator.email|urlize }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
