{% extends "events/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "regional natural reserves"|title %}{% endblock %}
{% block page_title %}
    <h1>{% trans 'regional natural reserves'|capfirst %}</h1>
{% endblock %}

{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th>{% trans "code"|capfirst %}</th>
                <th>{% trans "name"|capfirst %}</th>
                <th>{% trans "administrator"|capfirst %}</th>
                <th>{% trans "name"|capfirst %}</th>
                <th>{% trans "address"|capfirst %}</th>
                <th>{% trans "conservator"|capfirst %}</th>
                <th>{% trans "phone"|capfirst %}</th>
                <th>{% trans "e-mail"|capfirst %}</th>
            </tr>
        </thead>
        <tbody>
            {% for reserve in object_list %}
                <tr>
                    <td>{{ reserve.code }}</td>
                    <td>{{ reserve.name }}</td>
                    <td>{{ reserve.rnradministrator.short_name }}</td>
                    <td>{{ reserve.rnradministrator.name }}</td>
                    <td>{{ reserve.rnradministrator.address.first }}</td>
                    <td>{{ reserve.rnradministrator.conservator.first }}</td>
                    <td>{{ reserve.rnradministrator.conservator.first.phone }}</td>
                    <td>{{ reserve.rnradministrator.email|urlize }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
