{% load i18n %}

{% if object.display_rnr_eval_panel %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">{% trans "required actions"|capfirst %} : {% trans "rnr evaluation"|capfirst %}*</h3>
        </div>
        <div class="panel-body">
            <div class="alert alert-warning">
                <p><strong>{% trans 'attention !'|capfirst %}</strong> {% trans 'before filling in this form, you MUST contact the concerned RNR administrator'|capfirst %} : 
                    <a href="{% url 'protected_areas:regionalnaturalreserve_list' %}">
                        {% trans "list of RNR administrators"|capfirst %}
                    </a>
                </p>
            </div>
            <p>{% trans '*RNR : Regional Natural Reserve'|capfirst %}</p>
        </div>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="{% url 'evaluations:rnrevaluation_add' event_pk=object.id %}" class="btn" role="button">
                    {% trans "ask for a rnr evaluation"|capfirst %}*
                </a>
            </li>
        </ul>
    </div>
{% endif %}
{% if object.display_natura2000_eval_panel %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">{% trans "required actions"|capfirst %} : {% trans "natura2000 evaluation"|capfirst %}</h3>
        </div>
        <div class="panel-body">
            <div class="alert alert-warning">
                <p><strong>{% trans 'attention !'|capfirst %}</strong> {% trans 'before filling in this form, you MUST contact the concerned natura 2000 site operator'|capfirst %} : 
                    <a href="{% url 'protected_areas:natura2000site_list' %}">
                        {% trans "list of natura 2000 sites operators"|capfirst %}
                    </a>
                </p>
            </div>
        </div>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="{% url 'evaluations:natura2000evaluation_add' event_pk=object.id %}" class="btn" role="button">
                    {% trans "ask for a natura2000 evaluation"|capfirst %}
                </a>
            </li>
        </ul>
    </div>
{% endif %}
