{% extends "events/base_form.html" %}

{% load i18n %}
{% load staticfiles %}

{% block head_title %}
    {% trans "event authorization"|capfirst %}
{% endblock %}

{% block page_title %}
    <h1>{% trans "event authorization"|capfirst %}</h1>
{% endblock %}

{% block extra_js %}
    <script src='{% static 'events/js/bootstrap-multiselect.js' %}'></script>
    <link href='{% static 'events/css/bootstrap-multiselect.css' %}' rel='stylesheet' type='text/css'>
    <script src='{% static 'authorizations/js/bootstrap-multiselect-authorizations.js' %}'></script>
{% endblock %}
