
{% extends "events/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}
    {% trans "instructor dashboard"|title %}
{% endblock %}

{% block page_title %}
    {% include "events/last_news.html" %}
    <h1><i class="fa fa-tasks"></i> {% trans "dashboard"|title %}</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-6">
            <h3>{% trans 'authorizations requested'|capfirst %}</h3>

            <div class="panel panel-default authorizations-requested">
                <div class="list-group">
                    {% for authorization in object_list %}
                        <a class="list-group-item 
                            {% if authorization.state == 'published' %}
                                list-group-item-success
                            {% elif authorization.state == 'dispatched' %}
                                list-group-item-warning
                            {% elif authorization.state == 'created' %}
                                list-group-item-danger
                            {% endif %}
                            "
                           href="{% url 'authorizations:authorization_detail' authorization.id %}">{{ authorization.event.begin_date|date:"d/m/Y" }} : {{ authorization.event }}
                            {% if not authorization.state == 'created' %}
                                {% if authorization.all_agreements_validated %}
                                    <span class="label label-success top-right"><i class="fa fa-check"></i></span>
                                {% else %}
                                    <span class="label label-default top-right">{{ authorization.agreements_missing }} {% trans 'missing agreements' %}</span>
                                {% endif %}
                            {% endif %}
                        </a>
                    {% empty %}
                        <a class="list-group-item disabled">{% trans 'No authorizations to manage' %}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <h3>{% trans 'declarations'|capfirst %}</h3>

            <div class="panel panel-default declarations">
                <div class="list-group">
                    {% for declaration in declarations %}
                        <a class="list-group-item
                            {% if declaration.state == 'published' %}
                                list-group-item-success
                            {% elif declaration.state == 'created' %}
                                list-group-item-danger
                            {% endif %}
                            "
                           href="{% url 'declarations:declaration_detail' declaration.id %}">{{ declaration.event.begin_date|date:"d/m/Y" }}
                            : {{ declaration.event }}
                        </a>
                    {% empty %}
                        <a class="list-group-item disabled">{% trans 'No declarations to manage' %}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    <div class="col-sm-6">
        {% include "notifications/actions_list.html" %}
    </div>
    <div class="col-sm-6">
        {% include "notifications/notifications_list.html" %}
    </div>
    </div>
{% endblock %}
