{% extends "events/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}
    {% trans "event authorization"|title %}
{% endblock %}

{% block page_title %}
    <h1>{{ object.event|capfirst }}</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-8">
            <ul class="nav nav-pills">
                <li class="active"><a href="#authorization" data-toggle="pill">{% trans "authorization"|capfirst %}</a></li>
                <li><a href="#event" data-toggle="pill">{% trans "event detail"|capfirst %}</a></li>
                {% include 'events/event_tabs.html' with object=object.event %}
            </ul>
            <div class="tab-content">
                <div id="authorization" class="panel panel-default tab-pane fade in active">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ object.event|capfirst }}
                        </h3>
                    </div>
                    <ul class="list-group">
                        {% if object.event.creation_date %}
                            <li class="list-group-item">{% trans "event creation date"|capfirst %} : {{ object.event.creation_date }}</li>
                      	{% endif %}
                        <li class="list-group-item">{% trans "authorization request date"|capfirst %} : {{ object.creation_date }}</li>
                        <li class="list-group-item">{% trans "type of event"|capfirst %} : {{ object }}</li>
                        {% if object.bylaw %}
                            <li class="list-group-item">{% trans "bylaw"|capfirst %} : <a href="{{ object.bylaw.url }}" target='_blank'>{{ object.bylaw }}</a></li>
                        {% endif %}
                    </ul>
                    {% for agreement in object.agreement_set.all %}
                        <div class="panel-heading">
                            <h3 class="panel-title">{% trans 'agreement'|capfirst %} : 
                                {% if agreement.serviceagreement %}
                                    {{ agreement.serviceagreement.service }}
                                {% elif agreement.federalagreement %}
                                    {{ agreement.federalagreement.get_federation }}
                                {% elif agreement.townhallagreement %}
                                    {{ agreement.townhallagreement.commune }}
                                {% elif agreement.edsragreement %}
                                    {{ agreement.edsragreement.get_edsr }}
                                {% elif agreement.sdisagreement %}
                                    {{ agreement.sdisagreement.get_sdis }}
                                {% elif agreement.ddspagreement %}
                                    {{ agreement.ddspagreement.get_ddsp }}
                                {% elif agreement.cgagreement %}
                                    {{ agreement.cgagreement.get_general_council }}
                                {% endif %}
                                {% if agreement.state != 'acknowledged' and object.state != 'published' %}
                                    {% if agreement.serviceagreement %}
                                        <a class="btn btn-primary pull-right" href="{% url 'agreements:service_agreement_resend' pk=agreement.pk %}" role="button">{% trans 'Raise agreement request' %}</a>
                                    {% elif agreement.federalagreement %}
                                        <a class="btn btn-primary pull-right" href="{% url 'agreements:federal_agreement_resend' pk=agreement.pk %}" role="button">{% trans 'Raise agreement request' %}</a>
                                    {% elif agreement.townhallagreement %}
                                        <a class="btn btn-primary pull-right" href="{% url 'agreements:townhall_agreement_resend' pk=agreement.pk %}" role="button">{% trans 'Raise agreement request' %}</a>
                                    {% elif agreement.edsragreement %}
                                        <a class="btn btn-primary pull-right" href="{% url 'agreements:edsr_agreement_resend' pk=agreement.pk %}" role="button">{% trans 'Raise agreement request' %}</a>
                                    {% elif agreement.sdisagreement %}
                                        <a class="btn btn-primary pull-right" href="{% url 'agreements:sdis_agreement_resend' pk=agreement.pk %}" role="button">{% trans 'Raise agreement request' %}</a>
                                    {% elif agreement.ddspagreement %}
                                        <a class="btn btn-primary pull-right" href="{% url 'agreements:ddsp_agreement_resend' pk=agreement.pk %}" role="button">{% trans 'Raise agreement request' %}</a>
                                    {% elif agreement.cgagreement %}
                                        <a class="btn btn-primary pull-right" href="{% url 'agreements:cg_agreement_resend' pk=agreement.pk %}" role="button">{% trans 'Raise agreement request' %}</a>
                                    {% endif %}
                                {% endif %}
                            </h3>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">{% trans "agreement has been sent the"|capfirst %} {{ agreement.request_date }}</li>
                            {% ifnotequal agreement.state 'acknowledged' %}
                                <li class="list-group-item">{% trans "agreement is under review"|capfirst %}</li>
                            {% else %}
                                <li class="list-group-item">{% trans "agreement date"|capfirst %} : {{ agreement.reply_date }}</li>
                                <li class="list-group-item">{% trans "favorable"|capfirst %} : {{ agreement.favorable|yesno|title }}</li>
                                <li class="list-group-item">{% trans "prescriptions"|capfirst %} : {{ agreement.prescriptions|linebreaks }}</li>
                                {% if agreement.attached_document %}
                                    <li class="list-group-item">{% trans "attached document"|capfirst %} : 
                                        <a href="{{ agreement.attached_document.url }}" target='_blank'>{{ agreement.attached_document }}</a>
                                    </li>
                                {% endif %}
                            {% endifnotequal %}
                        </ul>
                    {% endfor %}
                </div>
                {% include 'events/event_panel_instructor.html' with object=object.event %}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{% trans "actions available"|capfirst %}</h3>
                </div>
                <div class="panel-body">
                    <p>{% trans "find here all actions available related to this event"|capfirst %}</p>
                </div>
                <ul class="list-group">
                    {% if object.state != 'published' %}
                        <li class="list-group-item">
                            <a href="{% url 'events:additional_data_add' event_pk=object.event.id %}" class="btn" role="button">
                                {% trans "request more information"|capfirst %}
                            </a>
                        </li>
                    {% endif %}
                    {% if object.state == 'created' %}
                        <li class="list-group-item">
                            <a href="{% url 'authorizations:authorization_update' pk=object.id %}" class="btn" role="button">
                                {% trans "dispatch agreements requests"|capfirst %}
                            </a>
                        </li>
                    {% elif object.state == 'dispatched' %}
                        <li class="list-group-item">
                            <a href="{% url 'authorizations:authorization_update' pk=object.id %}" class="btn" role="button">
                                {% trans "add agreements requests"|capfirst %}
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="{% url 'authorizations:authorization_publish' pk=object.id %}" class="btn" role="button">
                                {% trans "publish bylaw"|capfirst %}
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <a href="{% url 'authorizations:dashboard' %}" class="btn" role="button">
                {% trans "go back to the dashboard"|capfirst %}
            </a>
        </div>
    </div>
{% endblock %}
