{% extends "events/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}
    {% trans "profile"|title %}
{% endblock %}

{% block page_title %}
    <h1><i class="fa fa-user"></i> {% trans "profile"|title %}</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">{{ object.username }}</div>
            <ul class="list-group">
                <li class="list-group-item">{% trans "last name"|title %} : {{ object.last_name|title }}</li>
                <li class="list-group-item">{% trans "first name"|title %} : {{ object.first_name|title }}</li>
                <li class="list-group-item">{% trans "email" %} : {{ object.email }} <a href="{% url 'account_email' %}">{% trans "Change my e-mail address" %}</a></li>
                <li class="list-group-item"><a href="{% url 'account_change_password' %}">{% trans "Change my password" %}</a></li>
            </ul>
        </div>
        <a class="btn btn-primary" href="{% url 'profile_edit' %}" role="button">{% trans "Update" %}</a>
        <p/>
        {% if object.promoter.structure %}
            <div class="panel panel-primary">
                <div class="panel-heading">{{ object.promoter.structure.name }}</div>
                <ul class="list-group">
                    <li class="list-group-item">{% trans "type of structure"|capfirst %} : {{ object.promoter.structure.type_of_structure }}</li>
                    <li class="list-group-item">{% trans "address"|title %} : {{ object.promoter.structure.address|title }}, {{ object.promoter.structure.commune.zip_code }} {{ object.promoter.structure.commune }}</li>
                    <li class="list-group-item">{% trans "phone"|capfirst %} : {{ object.promoter.structure.phone }}</li>
                    {% if object.promoter.structure.website %}
                        <li class="list-group-item">{% trans "website"|capfirst %} : <a href="{{ object.promoter.structure.website }}" target="_blank">{{ object.promoter.structure.website }}</a></li>
                    {% endif %}
                </ul>
            </div>
            <a class="btn btn-primary" href="{% url 'structure_edit' %}" role="button">{% trans "Update" %}</a>
        {% endif %}
    </div>
{% endblock %}
