{% extends "sub_agreements/subagreement_detail.html" %}

{% load i18n %}

{% block agreement_actions %}
    {% if object.state == 'created' or object.state == 'notified' %}
        <a href="{% url 'sub_agreements:notify_brigades' pk=object.id %}" class="btn" role="button">
            {% trans "notify concerned brigades"|capfirst %}
        </a>
    {% endif %}
    {% if object.state == 'notified' %}
        <a href="{% url 'sub_agreements:cgd_subagreement_acknowledge' pk=object.id %}" class="btn" role="button">
            {% trans "acknowledge sub-agreement"|capfirst %}
        </a>
    {% endif %}
{% endblock %}
