{% extends "sub_agreements/subagreement_detail.html" %}

{% load i18n %}

{% block agreement_actions %}
    {% if object.state == 'created' %}
        <a href="{% url 'sub_agreements:company_subagreement_acknowledge' pk=object.id %}" class="btn" role="button">
            {% trans "acknowledge sub-agreement"|capfirst %}
        </a>
    {% elif object.state == 'acknowledged' and object.agreement.state == 'acknowledged' and not object.concerned_cis.exists %}
        <a href="{% url 'sub_agreements:notify_cis' pk=object.id %}" class="btn" role="button">
            {% trans "notify concerned cis"|capfirst %}
        </a>
    {% endif %}
{% endblock %}
