{% extends "events/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}
    {% trans "dashboard"|title %}
{% endblock %}

{% block page_title %}
    {% include "events/last_news.html" %}
    <h1>{% trans "dashboard"|title %}</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-6">
            <h3>{% trans 'sub agreements requested'|capfirst %}</h3>
            <div class="panel panel-default">
                <div class="list-group">
                    {% for sub_agreement in object_list %}
                        <a class="list-group-item 
                            {% if sub_agreement.state == 'acknowledged' %}
                                list-group-item-success
                            {% elif sub_agreement.state == 'notified' %}
                                list-group-item-warning
                            {% elif sub_agreement.state == 'created' %}
                                list-group-item-danger
                            {% endif %}
                            " 
                            {% block subagreement_item %}{% endblock %}
                        </a>
                    {% empty %}
                        <a class="list-group-item disabled">{% trans 'No sub-agreements to manage' %}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                {% include "notifications/actions_list.html" %}
            <div class="row">
            </div>
                {% include "notifications/notifications_list.html" %}
            </div>
        </div>
    </div>
{% endblock %}
