{% extends "events/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}
{% endblock %}

{% block page_title %}
    <h1>{{ object.authorization.event|capfirst }}</h1>
    {% ifequal object.state 'created' %}
        {% if not object.delay_exceeded %}
            <div class="alert alert-warning">
                <p><strong>{% trans 'attention'|capfirst %} ! </strong>
                    {% trans 'you have until'|capfirst %} {{ object.get_deadline|date:'d F Y' }}, {% trans 'to give your agreement' %}
                </p>
            </div>
        {% else %}
            <div class="alert alert-danger">
                <p><strong>{% trans 'attention'|capfirst %} ! </strong>
                    {% trans "it is now too late to give your agreement to this event."|capfirst %}.<br/>
                    {% trans "instructor won't have to take your agreement into account when authorizing or not the event."|capfirst %}
                </p>
            </div>
        {% endif %}
    {% endifequal %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-8">
            <ul class="nav nav-pills">
                <li class="active"><a href="#agreement" data-toggle="pill">{% trans "agreement"|capfirst %}</a></li>
                <li><a href="#event" data-toggle="pill">{% trans "event detail"|capfirst %}</a></li>
                {% include 'events/event_tabs.html' with object=object.authorization.event %}
            </ul>
            <div class="tab-content">
                <div id="agreement" class="panel panel-default tab-pane fade in active">
                    {% include 'agreements/agreement_description.html' %}
                    {% for sub_agreement in object.subagreement_set.all %}
                        {% if sub_agreement.cgdsubagreement %}
                            {% include 'agreements/agreement_description.html' with object=sub_agreement.cgdsubagreement %}
                        {% elif sub_agreement.cgservicesubagreement %}
                            {% include 'agreements/agreement_description.html' with object=sub_agreement.cgservicesubagreement %}
                        {% elif sub_agreement.commissariatsubagreement %}
                            {% include 'agreements/agreement_description.html' with object=sub_agreement.commissariatsubagreement %}
                        {% elif sub_agreement.companysubagreement %}
                            {% include 'agreements/agreement_description.html' with object=sub_agreement.companysubagreement %}
                        {% endif %}
                    {% endfor %}
                </div>
                {% include 'events/event_panel_instructor.html' with object=object.authorization.event %}
            </div>
        </div>
        <div class="col-sm-4">
            {% if object.authorization.state == 'published' and object.authorization.bylaw %}
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">{% trans "bylaw has been published"|capfirst %}</h3>
                    </div>
                    <div class="panel-body">
                        <p>{% trans "you can download it by clicking on the link below" %}</p>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item"><a href="{{ object.authorization.bylaw.url }}" target='_blank'>{% trans 'bylaw'|capfirst %}</a></li>
                    </ul>
                </div>
            {% else %}
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">{% trans "actions available"|capfirst %}</h3>
                    </div>
                    <div class="panel-body">
                        <p>{% trans "find here all actions available related to this event"|capfirst %}</p>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            {% block agreement_actions %}{% endblock %}
                        </li>
                    </ul>
                </div>
            {% endif %}
            <a href="{% url 'agreements:dashboard' %}" class="btn" role="button">
                {% trans "go back to the dashboard"|capfirst %}
            </a>
        </div>
    </div>
{% endblock %}
