{% load i18n %}

<div class="panel-heading">
    <h3 class="panel-title">{{ object|capfirst }}</h3>
</div>
<ul class="list-group">
    <li class="list-group-item">
        {% trans "request date"|capfirst %} : 
        {{ object.request_date }}
    </li>
    {% ifequal object.state 'acknowledged' %}
        <li class="list-group-item">
            {% if object.agreement %}
                {% trans "sub-agreement date"|capfirst %} : 
            {% else %}
                {% trans "reply date"|capfirst %} : 
            {% endif %}
            {{ object.reply_date }}
        </li>
        <li class="list-group-item">
            {% trans "favorable"|capfirst %} : 
            {{ object.favorable|yesno|title }}
        </li>
        <li class="list-group-item">
            {% trans "prescriptions"|capfirst %} : 
            {{ object.prescriptions|linebreaks }}
        </li>
        {% if object.attached_document %}
            <li class="list-group-item">
                {% trans "attached document"|capfirst %} : 
                <a href="{{ object.attached_document.url }}" target='_blank'>{{ object.attached_document }}</a>
            </li>
        {% endif %}
    {% endifequal %}
</ul>
