{% extends "events/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}
    {% trans "dashboard"|title %}
{% endblock %}

{% block page_title %}
    {% include "events/last_news.html" %}
    <h1>{% trans "dashboard"|title %}</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-6">
            <h3>{% trans 'agreements requested'|capfirst %}</h3>

            <div class="panel panel-default">
                <div class="list-group">
                    {% for agreement in object_list %}
                        <a class="list-group-item 
                            {% if agreement.state == 'acknowledged' %}
                                list-group-item-success
                            {% elif agreement.state == 'dispatched' %}
                                list-group-item-warning
                            {% elif agreement.state == 'formatted' %}
                                list-group-item-warning
                            {% elif agreement.state == 'created' %}
                                list-group-item-danger
                            {% endif %}
                            "
                        {% block agreement_item %}{% endblock %}
                        {% if agreement.get_days_left_before_deadline.days > 0 and not agreement.state == 'acknowledged' %}
                            <span class="label label-default pull-right">{% trans 'delay' %} : {{ agreement.get_days_left_before_deadline.days }} {% trans 'days' %}</span>
                        {% endif %}
                        {% if agreement.sub_agreements_missing %}
                            <span class="label label-default pull-right">{{ agreement.sub_agreements_missing }} {% trans 'missing sub-agreement' %}</span>
                        {% endif %}
                        </a>
                    {% empty %}
                        <a class="list-group-item disabled">{% trans 'No agreements to manage' %}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    <div class="col-sm-6">
        {% include "notifications/actions_list.html" %}
    </div>
    <div class="col-sm-6">
        {% include "notifications/notifications_list.html" %}
    </div>
    </div>
{% endblock %}
