{% extends "agreements/agreement_detail.html" %}

{% load i18n %}

{% block agreement_actions %}
    {% if object.state == 'created' %}
        <a href="{% url 'agreements:ddsp_agreement_dispatch' pk=object.id %}" class="btn" role="button">
            {% trans "send sub-agreements requests"|capfirst %}
        </a>
    {% elif object.state == 'dispatched' %}
        {% if object.sub_agreements_validated %}
            <a href="{% url 'agreements:ddsp_agreement_acknowledge' pk=object.id %}" class="btn" role="button">
                {% trans "acknowledge agreement"|capfirst %}
            </a>
        {% endif %}
    {% endif %}
{% endblock %}
