{% extends "agreements/agreement_detail.html" %}

{% load i18n %}

{% block agreement_actions %}
    {% if object.state == 'created' and request.user.agent.edsragent %}
        <a href="{% url 'agreements:ggd_agreement_dispatch' pk=object.id %}" class="btn" role="button">
            {% trans "send sub-agreements requests"|capfirst %}
        </a>
    {% elif object.state == 'dispatched' and request.user.agent.edsragent %}
        {% if object.sub_agreements_validated %}
            <a href="{% url 'agreements:ggd_agreement_format' pk=object.id %}" class="btn" role="button">
                {% trans "format agreement"|capfirst %}
            </a>
        {% endif %}
    {% elif object.state == 'formatted' and request.user.agent.ggdagent%}
        <a href="{% url 'agreements:ggd_agreement_acknowledge' pk=object.id %}" class="btn" role="button">
            {% trans "acknowledge agreement"|capfirst %}
        </a>
    {% endif %}
{% endblock %}
