{% load i18n %}

<h3>
    {% trans "actions"|capfirst %}
    {% if user.instructor %}
        {% trans "instructor"|capfirst %}
    {% endif %}
</h3>

<table class="table table-condensed table-striped" data-toggle="table" id="action-table" style="height: 600px; display: block;">
    <thead>
        <tr>
            <th data-field="date" data-sortable="true" data-sorter="dateSorter">{% trans "date"|capfirst %}</th>
            <th data-field="file" data-sortable="true">{% trans "file"|capfirst %}</th>
            <th>{% trans "action"|capfirst %}</th>
        </tr>
    </thead>
    <tbody>
        {% for action in user.action_set.in_processing.last_first %}
            <tr>
                <td>{{ action.creation_date.date|date:"d/m/Y" }}</td>
                <td>{{ action.event }}</td>
                <td>{{ action.action }}</td>
            </tr>
        {% empty %}
            <tr>
                <td></td>
                <td></td>
                <td>{% trans 'No actions' %}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
