{% load i18n %}

<h3>
    {% if user.instructor %}
        {% trans "promoter files"|capfirst %}
    {% else %}
        {% trans "notifications"|title %}
    {% endif %}
</h3>

<table class="table table-condensed table-striped" data-toggle="table" id="notification-table" style="height: 600px; display: block;">
    <thead>
        <tr>
            <th data-field="date" data-sortable="true" data-sorter="dateSorter">{% trans "date"|capfirst %}</th>
            <th data-field="file" data-sortable="true">{% trans "file"|capfirst %}</th>
            <th>{% trans "sender"|capfirst %}</th>
            <th>{% trans "object"|capfirst %}</th>
        </tr>
    </thead>
    <tbody>
        {% for notification in user.notification_set.in_processing.last_first %}
            <tr>
                <td>{{ notification.creation_date.date|date:"d/m/Y" }}</td>
                <td>{{ notification.event }}</td>
                <td>{{ notification.content_object }}</td>
                <td>{{ notification.subject }}</td>
            </tr>
        {% empty %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>{% trans 'No notifications' %}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
